<div class="bottom-cta">
    <div class="s-center">
        <h2>Free Your Training Business from Routine</h2>
        <a href="https://app.workshopbutler.com/register">Try Workshop Butler</a>
    </div>
</div>

<footer class="footer">
    <div class="f-links">
       <div class="s-center">
          <div class="fl-col">
              <h3>Workshop Butler</h3>
              <ol>
                <li><a href="/product">Product</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/developers">Developers</a></li>
                <li><a href="https://support.workshopbutler.com/">Help Center</a></li>
              </ol>
          </div>
          <div class="fl-col">
              <h3>Features</h3>
              <ol>
                <li><a href="/collaboration/">Collaboration</a></li>
                <li><a href="/communication-with-attendees">Communication with Attendees</a></li>
                <li><a href="/evaluations-and-ratings">Evaluations & Ratings</a></li>
                <li><a href="/license-management">License Management</a></li>
                <li><a href="/workshop-management">Workshop Management</a></li>
                <li><a href="/integration">Website Integration</a></li>
                <li><a href="/statistics-and-reports">Statistics and Reports</a></li>
                <li><a href="/certification">Certificates & Badges</a></li>
                <li><a href="/fees-for-licensed-events">Fees for Licensed Events</a></li>
              </ol>
          </div>
          <div class="fl-col">
              <h3>Legal</h3>
              <ol>
                <li><a href="/terms">Terms of use</a></li>
                <li><a href="/privacy">Privacy policy</a></li>
                <li><a href="/legal/cookie-policy">Cookie Policy</a></li>
                <li><a href="/legal/data-processing-amendment">Data Processing Amendment</a></li>
                <li><a href="/legal/sub-processors">Sub-processors</a></li>
              </ol>
          </div>
          <div class="fl-col">
              <h3>From the blog</h3>
              <ol>
                <li><a href="https://medium.com/workshop-butler/website-integration-2-0-a11e9c032f49" target="_blank">Website Integration 2.0</a> </li>
                <li><a href="https://medium.com/workshop-butler/automated-email-messages-f87f6af318d0" target="_blank">Automated Email Messages</a></li>
                <li><a href="https://medium.com/workshop-butler/collecting-gdpr-compliant-consent-8dfc5910863a" target="_blank">Collecting GDPR-compliant consent</a></li>
                <li><a href="https://medium.com/workshop-butler/customisable-registration-forms-for-training-companies-28976a5472ca" target="_blank">Customisable Registration Forms for Training Companies</a></li>
                <li class="read-more">
                    <a href="https://medium.com/workshop-butler" target="_blank">
                        <i></i>
                        <span>Read more</span>
                    </a>
                </li>
              </ol>
          </div>
       </div>
    </div>
    <div class="f-social-copyright">
          <div class="s-center">
              <div class="fsc-social">
                  <a class="tw" target="_blank" href="https://twitter.com/workshopbutler"></a>
                  <a class="lk" target="_blank" href="https://www.linkedin.com/company/workshop-butler"></a>
                  <a class="fa" target="_blank" href="https://www.facebook.com/WorkshopButler/"></a>
                  <a class="go" target="_blank" href="https://plus.google.com/105400400231123334400"></a>
              </div>
              <div class="fsc-copyright">
                  <img style="display:none" height="41px" width="42px" src="/img/icon-logo-sm.png" alt="Workshop Butler cat profile">
                  <span>© 2016 Workshop Butler</span>
              </div>
          </div>
    </div>
</footer>

<div class="s-cookie js-cookie-block">
    <div class="s-center">
        <a class="btn s-cookie__btn" data-cookie-btn href="#">
            Okay
        </a>
        <div class="s-cookie__text">
            Workshop Butler uses cookies to provide necessary site functionality and improve your experience.
            By using our website, you agree to our <a class="link-white" target="_blank" href="/cookie">cookie policy</a>.
        </div>
    </div>
</div>
