<div class="s-headmob__bg" data-menu-site></div>
<div class="s-headmob">
    <div class="s-headmob__inner" data-menu-con>
        <div class="s-headmob__place" data-menu-place>
            <div class="s-headmob__logo"></div>
            <div class="s-headmob__menu">
                {{ range .Site.Menus.main }}
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </div>
        </div>
    </div>
    <a class="s-headmob__close" href="#" data-menu-site></a>
</div>

<header class="s-head">
    <div class="s-center">
        <a class="s-head__logo" href="/"></a>

        <div class="head-menu">
            {{ range .Site.Menus.main }}
                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ end }}
        </div>

        <a href="#" class="s-head__menu-toggle" data-menu-site>
            <i class="icon-buter"></i>
        </a>
        <div class="s-head__reg">
            <a class="s-head__reg-login" href="https://app.workshopbutler.com/login">
                Login
            </a>
            <a class="s-head__reg-start btn" href="https://app.workshopbutler.com/register">
                Get started
            </a>
        </div>
    </div>
</header>
