<div class="sm-slider__content b-slider js-slider">
    <div class="b-slider__inner" data-slider>
        <div class="b-slider__i">
            <img class="b-slider__img" src="/img/main/slider/img-slide-1.png" alt="List of workshops, integrated on your website"/>
        </div>
        <div class="b-slider__i">
            <img class="b-slider__img" src="/img/main/slider/img-slide-2.png" alt="Workshop/event page with description and registration form" />
        </div>
        <div class="b-slider__i">
            <img class="b-slider__img" src="/img/main/slider/img-slide-3.png" alt="Registration form for an event"/>
        </div>
        <div class="b-slider__i">
            <img class="b-slider__img" src="/img/main/slider/img-slide-4.png" alt="Another event page with description and registration form"/>
        </div>
    </div>
    <div class="b-slider__descr">
        <div class="b-slider__descr-i" data-slider-descr>
            <a href="/integration" class="b-slider__btn">
                Learn more
            </a>
            <div class="b-slider__descr-text">
                Add an event calendar into your website. <br>
                Remind your audience to save the date in advance.
            </div>
        </div>
        <div class="b-slider__descr-i" data-slider-descr>
            <a href="/integration#events" class="btn b-slider__btn">
                Learn more
            </a>
            <div class="b-slider__descr-text">
                All the event details you entered into the Workshop Butler will be synchronized and displayed up to date in your website, blog or any external platform you connected with. No more endless edits and outdated data.
            </div>
        </div>
        <div class="b-slider__descr-i" data-slider-descr>
            <a href="/integration#registration" class="btn b-slider__btn">
                Learn more
            </a>
            <div class="b-slider__descr-text">
                Let you participants to register without distracting redirecting them to third-party tools. Include Workshop Butler built-in registration form into your website.
            </div>
        </div>
        <div class="b-slider__descr-i" data-slider-descr>
            <a href="/integration#templates" class="btn b-slider__btn">
                Learn more
            </a>
            <div class="b-slider__descr-text">
                Marvellous forms and colors are available for your event calendars. However, if you don’t find a perfect match, we are glad to help you with the custom widget design.
            </div>
        </div>
    </div>
</div>
