.page-certification {

  p {
    line-height: 25px;
  }


  /* Header - Structure for "All screens" and Specific for "Screens beyond Small" */
  .header-1 {
    p {
      line-height: 25px;
    }
  }





  /* Sections */
  .cb-sections {
    .s-center {
      display : flex;
      flex-wrap: wrap;
      padding-bottom: 70px;

      .c-col {
        width : 50%;
        box-sizing: border-box;

        .img-container {
          &.bg-50-y {
            img {
              padding : 0 10px 0;
            }
          }
        }

        &:nth-child(even) {
          padding-left:  20px;
        }
        &:nth-child(odd) {
          padding-right:  20px;
        }

      }

    }
  }





  @media screen and (max-width : @break_small) {

    /* Header - Small screens */
    .header-1 {
      margin-bottom: 50px;
    }





    /* Sections */
    .cb-sections {
      margin-bottom: 70px;

      .s-center {
        flex-direction: column;
        padding: 0;

        .c-col {
          width : 100%;

          .img-container {
          }

          .description {
            padding : 20px;
            box-sizing: border-box;

            + .description {
              margin-top: 20px;
            }

            h2 {
              margin-bottom: 10px;
            }
            p {
              &:not(:last-of-type) {
                margin-bottom : 30px;
              }
            }
          }

          &:nth-child(even) {
            padding-left:  0;
          }
          &:nth-child(odd) {
            padding-right:  0;
          }
          &:not( :first-of-type ) {
            margin-top : 45px;
          }

        }
      }
    }

  }

}
