.page-collaboration {

  p {
    line-height: 25px;
  }


  /* Header - Structure for "All screens" and Specific for "Screens beyond Small" */
  > header {
    margin-top : 60px;

    .s-center {
      padding-bottom: 0;

      h1 {
        font-size: 36px;
        margin-bottom: 28px;
      }

      .description {
        display: flex;

        p {
          width : 25%;
          border-top: 3px solid @light-blue;
          padding-top : 11px;

          &:not(:first-of-type) {
            margin-left: 20px;
          }

          * {
            box-sizing: border-box;
          }

          &:nth-of-type(2) {
            width : 50%;
            display: flex;
            border: none;
            margin-left: 20px;
            padding-top: 0;

            > * {
              width : 50%;
              border-top: 3px solid @light-blue;
              padding-top : 11px;


              &:last-child {
                margin-left: 20px;
              }
            }

          }

        }

      }
    }

  }





  /* Once account */
  .one-account {
    margin-top : 50px;

    .s-center {
      padding-bottom: 70px;
    }

    h2,
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    header {
      background: @orange;
      padding: 40px 70px;
      box-sizing: border-box;
      border-radius: 8px;

      .bottom-arrow {
        position: relative;
        bottom: -50px;

        @media
        (min-width : @break_small + 1px) and
        (max-width : @break_big) {
            width : 570px;
            margin : 0 auto;
        }

        &:after {
          content: "";
          height: 10px;
          display: block;
          position: relative;
          left: 0;
          background: url(/img/site/collaboration/orange-arrow.png) 0px 0px repeat-x;
        }
      }
    }

    .content {
      padding: 60px 145px 0 74px;

      i {
        width: 64px;
        height: 64px;
        background-position: center;
        background-repeat: no-repeat;

        &.plus {
          width: 20px;
          height: 20px;
          background-image: url("/img/site/collaboration/icon-plus.png");
          margin : 10px 0;
        }
        &.business-man {
          background-image: url("/img/site/collaboration/icon-business-man.png");
        }
        &.business-woman {
          background-image: url("/img/site/collaboration/icon-business-woman.png");
        }
        &.business-building {
          background-image: url("/img/site/collaboration/icon-business-building.png");
        }
        &.registered-trademark {
          background-image: url("/img/site/collaboration/icon-registered-trademark.png");
        }
      }


      .oc-row {
        padding-top: 50px;
        box-sizing: border-box;
        display: flex;

        .oc-col-icons {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .oc-col-text {
          padding-left: 37px;
          box-sizing: border-box;

          p {
            &:not(:last-of-type) {
              margin-bottom: 30px;
            }
            &:last-of-type{
              margin-bottom: 0;
            }
          }
        }

        &:first-child {
          padding-top: 0;
        }
      }

    } // .content

  }





  @media screen and (max-width : @break_small) {

    /* Header - Small screens */
    > header {
      margin-top : 30px;

      .s-center {

        h1 {
          font-size: 30px;
          margin-bottom: 20px;
        }

        .description {
          flex-direction: column;

          p {
            width : 100%;
            border-top: none;
            padding-top: 0;
            margin-bottom: 20px;

            &:not(:first-of-type) {
              margin-left: 0;
            }

            &:last-of-type {
              margin-bottom: 0;
            }
            * {

            }

            &:nth-of-type(2) {
              display: block;
              width: 100%;
              margin-left: 0;
              padding: 0;

              > * {
                border-top: none;
                display: inline;
                width: 100%;

                &:last-child {
                  margin-left: 0;
                  display: inline;
                }
              }

            }

          }

        }
      }

    }





    /* Once account */
    .one-account {
      margin-top: 50px;

      .s-center {}

      h2,
      h3 {}

      header {
        padding: 30px 20px 40px;
        margin: 0 -20px;
        border-radius: 0;

        .bottom-arrow {
          position: relative;
          bottom: -50px;

          &:after {
            width: 1000px;
            margin: 0 auto 0 -50px;
          }
        }
      }

      .content {
        padding: 60px 0 0;

        i {
          &.plus {
            margin: 20px;
          }
        }

        .oc-row {
          flex-direction: column;

          .oc-col-icons {
            align-items: center;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 40px;
          }

          .oc-col-text {
            padding-left: 0;

            p {
              &:not(:last-of-type) {}

              &:last-of-type {}
            }
          }

          &:first-child {}
        }
      }
      // .content
    }

  }

}
