.page-communication-w-a {

  p {
    line-height: 25px;
  }


  /* Email automation - Structure for "All screens" and Specific for "Screens beyond Small" */
  .email-automation {
    .s-center {
      padding-bottom: 50px;
      z-index: 1;
      position: relative;

      header {
        h2 {
          font-size: 24px;
          margin-bottom: 23px;
        }
      }

      .content {
        display : flex;

        .description {
          padding-right : 25px;
          width        : 26%;
          box-sizing   : border-box;
          padding-top: 11px;

          h3 {
            font-size : 18px;
            margin-bottom : 10px;
          }
          p {
            line-height: 25px;
          }
        }

        .img-container {
          width : 74%;
          img {
            width   : 100%;
            display : block;
          }
        }
      }

    }
  }





  /* Reminder */
  .reminder {
    border-top: 1px solid @dark-orange;
    border-bottom: 1px solid @dark-orange;
    padding: 18px 0 12px;

    .s-center {
      display: flex;
      padding-bottom: 0;

      .left-side,
      .right-side {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        margin: auto;

        > div {
          width : 45%;
          height: 71px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
        }
        div:nth-child(n+3) {
          margin-top : 45px;
        }

        i {
          display: inline-block;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          margin: auto;
        }

      }
      .notification {
        background-image: url("/img/site/communication-with-attendees/icon-notification.png");
        width : 92px;
        height : 71px;
      }
      .bell {
        background-image: url("/img/site/communication-with-attendees/icon-bell.png");
        width : 59px;
        height :  66px;
      }
      .messages {
        background-image: url("/img/site/communication-with-attendees/icon-messages.png");
        width : 75px;
        height : 60px;
      }


      .left-side {
        width: 250px;
      }

      .description {
        flex : 1;
        margin: 0 5%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
          margin-bottom : 10px;
        }
        p {
          &:not(:last-of-type) {
            margin-bottom: 20px;
          }
        }
      }

      .right-side {
        width: 250px;
      }
    }
  }





  /* Follow-up Emails */
  .follow-up-emails {
    .s-center {
      display : flex;
      margin-top: 55px;
      padding-bottom: 58px;

      .img-container {
        width : 74%;

        img {
          width   : 100%;
          display : block;
        }
      }
      .description {
        padding-top  : 11px;
        padding-left : 25px;
        width        : 26%;
        box-sizing   : border-box;

        h3 {
          font-size : 18px;
          margin-bottom : 10px;
        }
        p {
          + p {
            margin-top: 20px;
          }
        }
      }

    }
  }





  /* Communication with Attendees */
  .post-event-email {
    .s-center {
      display: flex;
      padding-bottom: 45px;

      .icon-container {
        background: @blue;
        position: relative;
        flex : 1;
        display: flex;
        padding: 6px 39px;

        i {
          display: block;
          background-image: url("/img/site/communication-with-attendees/icon-certificate.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: 128px;
          width: 128px;
          margin : 0 0 0 auto;
        }

        &:after {
          content : "";
          background: @blue;
          width : 500%;
          height : 100%;
          top : 0;
          left : -500%;
          position: absolute;
        }

      }

      .description {
        width: 72.6%;
        padding-left: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 0;
        }
      }

    }
  }





  /* Easy Configuration and Personalisation */
  .config-personalization {
    background: @light-grey;
    padding: 60px 0 90px;

    .s-center {

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      header {
        h2 {
          font-size: 22px;
          margin-bottom: 25px;
        }
      }

      .img-container {
        width : 74%;
        margin-bottom: 30px;
        img {
          width   : 100%;
          display : block;
        }
      }


      .cp-col {
        float : left;

        h3 {
          margin-bottom: 10px;
          font-size: 18px;
        }
      }
      > * {
        &:nth-child(3) {
          width : 23%;
        }
        &:nth-child(4) {
          width : 35%;
          margin-left : 3.5%;
        }
        &:nth-child(5) {
          width : 35%;
          margin-left : 3.5%;
        }
      }

    }
  }





  /* Medium sized screns(Tablets) */
  @media
  (min-width : @break_small + 1px) and
  (max-width : @break_big) {

    /* Reminder */
    .reminder {
      .s-center {

        .left-side,
        .right-side {

          > div {
            height: 65px;
          }
          i {
            transform: scale(.85);
          }
        }

        .left-side {
          width: 180px;
        }

        .description {
          margin: 0 8.5%;
        }

        .right-side {
          width: 180px;
        }
      }
    }

  }





  @media screen and (max-width : @break_small) {

    /* Header - Small screens */
    .header-1 {
      margin-bottom : 34px;
    }





    /* Email automation */
    .email-automation {
      .s-center {

        header {
          h2 {
            margin-bottom: 25px;
          }
        }

        .content {
          flex-direction : column;

          .description {
            padding : 15px 0 0;
            width: 100%;
            order: 1;

            h3 {
            }
          }

          .img-container {
            width: auto;
            margin: 0 -5px;

            img {
            }
          }
        }

      }
    }





    /* Reminder */
    .reminder {
      padding: 34px 0 20px;

      .s-center {
        display: flex;
        padding-bottom: 0;

        .left-side,
        .right-side {
          display: none;
        }

        .description {
          padding: 0;
          box-sizing: border-box;

          h3 {
            margin-bottom : 10px;
          }
          p {
            &:not(:last-of-type) {
              margin-bottom: 30px;
            }
          }
        }

      }
    }





    /* Follow-up Emails */
    .follow-up-emails {
      .s-center {
        flex-direction : column;
        margin-top: 24px;
        padding-bottom: 25px;

        .img-container {
          width : auto;
          margin: 0 -6px;

        }
        .description {
          padding-top: 14px;
          padding-left : 0;
          width        : 100%;

          p {
            &:not(:last-of-type) {
              margin-bottom: 30px;
            }
          }
        }

      }
    }





    /* Communication with Attendees */
    .post-event-email {
      .s-center {
        padding-bottom: 50px;
        flex-direction: column;

        .icon-container {
          padding-left: 0;

          i {
            margin : 0 auto 0 0
          }

          &:after {
            left : -499%;
          }

        }

        .description {
          width: 100%;
          padding-left: 0;
          margin-top: 20px;
        }

      }
    }





    /* Easy Configuration and Personalisation */
    .config-personalization {
      padding: 50px 0 69px;

      .s-center {
        display : flex;
        flex-direction : column;
        padding-bottom: 0;

        &:after {
          display: none;
        }

        header {
          order: 1;

        }
        .img-container {
          order: 3;
          width: 74%;
          margin-top: 9px;
          margin-right: -5px;
          margin-bottom: 23px;
          margin-left: -5px;

        }

        .cp-col {
          width: 100%!important;
          margin-left: 0!important;

        }
        > * {
          &:nth-child(3) {
            order: 2;
          }
          &:nth-child(4) {
            order: 4;
          }
          &:nth-child(5) {
            margin-top : 20px;
            order: 5;
          }
        }

      }
    }


  } // @media screen and (max-width : @break_small)

} // .page-communication-w-a
