.page-evaluations-rating {

  p {
    line-height: 25px;
  }

    
  /* Header - Structure for "All screens" and Specific for "Screens beyond Small" */
  .header-1 {
    p {
      line-height: 25px;
    }
  }





  /* Collect */
  .collect {
    .s-center {
      padding-bottom: 70px;

      header {
        h1 {
          font-size: 24px;
        }
      }

      .c-content {

        &:after {
          content: "";
          display: table;
          clear: both;
        }

        .c-col {
          width : 50%;

          &.img-container {
            float: right;
            clear : right;

            img {
              width : 100%;
              display: block;
            }
            &:last-child {
              img {
                margin-top : 20px;
              }
            }
          }
          // second image
          &:nth-child(2) {
            margin-top : 2px;
          }
          &:nth-child(3),
          &:nth-child(5) {
            margin-top : 10px;
          }



          .description {
            margin-bottom: 10px;
            padding-right: 50px;
            padding-top: 11px;
            box-sizing: border-box;

            h2 {
              font-size: 18px;
              margin-bottom: 10px;
            }
          }

        }

      }

    }
  }





  /* Manage */
  .manage {
    background: @light-grey;
    padding: 60px 0 70px;
    margin-bottom: 50px;

    .s-center {
      padding-bottom: 0;

      header {
        h1 {
          font-size: 24px;
          margin-bottom: 23px;
        }
      }

      .erm-section-1 {
        display: flex;
        margin-bottom: 37px;

        .img-container {
          width : 74%;
          img {
            width : 100%;
            display: block;
            margin-left: -13px;
          }
        }
        .description {
          width : 26%;
          box-sizing: border-box;
          padding-top: 11px;
          padding-left : 7px;

          h2 {
            font-size: 18px;
            margin-bottom: 10px;
            margin-top: 0;
          }
        }
      }


      .erm-section-2 {
        .erms-2-col {
          width:  74%;

          h2 {
            margin-bottom: 5px;
            font-size: 18px;
          }

          &:not(:first-of-type) {
            h2 {
              margin-top: 20px;
            }
          }

        }
      }

    }
  }





  /* Promote */
  .promote {
    .s-center {
      padding-bottom: 70px;

      header {
        h1 {
          font-size: 24px;
          margin-bottom: 22px;
        }
      }

      .erp-content {

        &:after {
          content: "";
          display: table;
          clear: both;
        }

        .p-col {
          width : 50%;
          position: relative;
          box-sizing: border-box;



          .img-container {
          }

          .description {
            background : @light-grey;
            padding : 25px 20px 20px;
            box-sizing: border-box;
            position : relative;

            + .description {
              margin-top: 20px;
            }

            h2 {
              font-size: 18px;
              margin-bottom: 10px;
            }
            p {
              &:not(:last-of-type) {
                margin-bottom : 30px;
              }
            }
          }

          &:first-child {
            float : left;
            padding-right:  30px;
          }
          &:nth-child(2) {
            float: right;
            margin-top : 10px;
            padding-left:  30px;
          }
          &:last-child {
            margin-top : 30px;
            float: right;
            padding-left:  30px;
          }

          &:nth-child(even) {

          }
          &:nth-child(odd) {
          }


        }
      }

    }
  }





  @media screen and (max-width : @break_small) {

    /* Header - Small screends */
    .header-1 {
      margin-bottom: 50px;

      p {
        line-height: 23px;
      }
    }





    /* Collect */
    .collect {
      .s-center {
        padding-bottom: 50px;

        header {
          h1 {
            margin-bottom: 25px;
          }
        }

        .c-content {
          display: flex;
          flex-direction: column;


          &:after {
            display: none;
          }

          .c-col {
            width : 100%;

            &.img-container {
              margin-right: -6px;
              margin-left: -6px;
              width: auto;

              img {
                display: block;
              }
              &:last-child {
                img {
                  margin-top : 0;
                }
              }

            }

            .description {
              padding: 0;
              margin: 0;

              h2 {
                margin-bottom: 10px;
              }
            }

            &:first-child {
              order : 1;
            }
            &:nth-child(2) {
              order : 4;
              margin-top : 15px;
            }
            &:nth-child(3) {
              order : 2;
              margin-top: 15px;
            }
            &:nth-child(4) {
              order : 3;
              margin-top : 10px;
            }
            &:nth-child(5) {
              order : 5;
              margin-top: 15px;
            }

          }

        }

      }
    }





    .manage {
      background: @light-grey;
      padding: 50px 0;
      margin-bottom: 50px;

      .s-center {

        header {
          h1 {
          }
        }

        .erm-section-1 {
          flex-direction: column;
          margin-bottom: 10px;

          .img-container {
            margin-left: -5px;
            margin-right: -5px;
            width: auto;

            img {
              margin-bottom: 20px;
              margin-left: 0;
            }
          }
          .description {
            width : 100%;
            padding : 0;

            h2 {
              font-size: 18px;
              margin-bottom: 10px;
              margin-top: 5px;
            }
          }
        }


        .erm-section-2 {
          .erms-2-col {
            width:  100%;

            h2 {
            }

            &:not(:first-of-type) {
              h2 {
              }
            }

          }
        }

      }
    }





    /* Promote */
    .promote {
      .s-center {
        padding-bottom: 50px;

        header {
          h1 {
            font-size: 24px;
            margin-bottom: 30px;
          }
        }

        .erp-content {
          display: flex;
          flex-direction: column;
          margin: 0 -20px;

          &:after {
            display: none;
          }

          .p-col {
            width : 100%;
            padding : 0!important;

            .img-container {

              img {
                padding: 0 13px 20px;
              }
              + .description {
                padding-top : 0;
              }

              &:after {
              }
            }

            .description {
              padding : 25px 20px 20px;
              box-sizing: border-box;
              position : relative;

              + .description {
                margin-top: 20px;
              }

              h2 {
                font-size: 18px;
                margin-bottom: 10px;
              }
              p {
                &:not(:last-of-type) {
                  margin-bottom : 30px;
                }
              }
            }

            &:first-child {
              order : 1;
              margin-top: 20px;
            }
            &:nth-child(2) {
              order : 0;
              margin-top : 0;
            }
            &:nth-child(3) {
              margin-top: 20px;
              order : 2;
            }

          }
        }

      }
    }

  }

}
