.page-fees-licensed-events {

  p {
    line-height: 25px;
  }


  /* Header - Structure for "All screens" and Specific for "Screens beyond Small" */
  .header-1 {
    p {
      line-height: 25px;
    }
  }





  /* List "type 1" */
  .list-1 {
    .s-center {
      padding-bottom: 0;
    }
  }





  @media screen and (max-width : @break_small) {

    /* Small screends */

  }

}
