

.s-head-info {
  height: 320px;
  background-color: #EEEEEE;
}

.s-head-info__title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.s-content-info {
  padding-top: 48px;
  padding-bottom: 50px;
  line-height: 23px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;

}