@import "./landing/_welcome";
@import "./landing/_tools";
@import "./landing/_slider";
@import "./landing/_tabs";
@import "./landing/_plans";
@import "./landing/_feedback";

.s-main {
  padding-top: 40px;
  padding-bottom: 100px;
}

.s-title {
  max-width: 780px;
  padding: 0 20px;
  margin: 0 auto 15px;
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
  text-align: center;
}

.s-subtitle {
  max-width: 780px;
  padding: 0 20px;
  margin: 0 auto 20px;
  font-size: 24px;
  line-height: 32px;
  color: @grey;
  text-align: center;
}

@media screen and (max-width: @site-tab) {
  .s-main {
    padding-top: 1px;
    margin-top: -30px;
  }
}

.sm-separator {
  height: 11px;
  border: 1px solid #dfdfdf;
  border-width: 1px 0;

  .inner {
    margin-top: 3px;
    height: 3px;
    border: 1px solid #dfdfdf;
    border-width: 1px 0;
  }
}

@media screen and (max-width: @site-tab) {
  .s-title {
    padding-left: 0;
    padding-right: 0;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .s-subtitle {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .s-title {
    font-size: 26px;
    line-height: 1.333;
  }

  .s-subtitle {
    font-size: 22px;
    line-height: 1.333;
  }

}
