//refactored
.body {
  padding-bottom: 130px;
}

.after-header {
  padding-top: @space*2;
}
.before-footer {
  padding-bottom: @space*5;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}





/* Header "type 1" with 74% width - Structure for "All screens" and Specific for "Screens beyond Small" */
.header-1 {
  // overide &.s-center
  header& {
    padding-bottom : 0;
    margin-top     : 60px;
    margin-bottom  : 50px;
  }

  .hd1-inner {
    width   : 74%;
  }
  .s-center {
  }

  h1 {
    margin-bottom : 40px;
  }
  .hd1-description {
    p {
      line-height: 23px;
    }
    
    > *:not(:last-of-type) {
      margin-bottom : 30px;
    }
  }

}





/* List "type 1" -  Structure for "All screens" and Specific for "Screens beyond Small" */
.list-1 {

  .s-center {
    margin-bottom : 78px;

    .li1-row {
      display    : flex;

      &:not( :first-of-type ) {
        margin-top : 20px;
      }

      .li1-col {
        box-sizing : border-box;
        width      : 50%;

        i {
          width   : 100px;
          height  : 100px;
          display : flex;
          background          : @dark;
          border-radius       : 100%;

          &:before {
            content : "";
            display : block;
            width   : 44px;
            height  : 44px;
            margin  : auto;
            background-repeat   : no-repeat;
            background-position : center;
            background-size     : contain;
            margin              : auto;
          }
          &.coins:before{
            width  : 58px;
            height : 60px;
            background-image : url("/img/site/fees-for-licensed-events/icon-coins.png");
          }
          &.globe:before{
            background-image : url("/img/site/fees-for-licensed-events/icon-globe.png");
          }
          &.price-tag:before{
            background-image : url("/img/site/fees-for-licensed-events/icon-price-tag.png");
          }
          &.informative:before{
            background-image : url("/img/site/fees-for-licensed-events/icon-informative.png");
          }
        }
        h3 {
          font-size  : 18px;
          margin     : 20px 0 10px;
        }

        &:nth-child(odd) {
            padding-right : 20px;
        }
        &:nth-child(even) {
            padding-left  : 20px;
        }
      }

    }

  }
}





.bg-50-y {
  position: relative;

  + .description {
    padding-top : 10px!important;
  }

  &:after {
    background : @light-grey;
    position : absolute;
    content  : "";
    bottom   : 0;
    display  : block;
    height   : 50%;
    width    : 100%;
  }

  img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0 13px 0;
    box-sizing: border-box;
  }

}

.grey-bg {
  background : @light-grey;
  padding : 25px 20px 20px;
  box-sizing: border-box;
  position : relative;

  + .description {
    margin-top: 20px;
  }

  h2, h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  p {
    &:not(:last-of-type) {
      margin-bottom : 30px;
    }
  }
}

.grey-stripe {
  background-color: @background;
}
.blue-stripe {
  background-color: @light-blue;
}

@media screen and (max-width: @break_big) {
  .container {
    margin: 0 @space;
  }
}

.col {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 0 0 @space*2;

  &:first-child {
    padding-left: 0;
  }
}

.col-3 {
  flex-basis: 33%;
}

.row {
  display: flex;
  padding: @space 0;
  width: 100%;

  &.with-wrap {
    flex-wrap: wrap;
    .col {
      padding: 0 0 @space*2;
    }
    .col-3 {
      flex-basis: 28%;
    }
  }
}


.no-grow {
  flex-grow: 0;
}

.col-2-3 {
  flex-basis: 66%;
  .no-grow;
}



@media screen and (max-width: @break_small) {
  .row {
    flex-wrap: wrap;
  }
  .col {
    flex-basis: 100%;
    padding: 0 0 @space;
  }

}

.s-site {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.s-center {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* == header == */
.s-head {
  padding-top: 21px;
  padding-bottom: 20px;
  .clearfix();
}

.s-head__menu-toggle {
  display: none;
  float: right;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 9px;
}

.icon-buter {
  display: block;
  margin-top: 13px;
  margin-left: 4px;
  width: 20px;
  position: relative;
  height: 3px;
  background-color: #27200e;

  &:before,
  &:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 3px;
    background-color: #27200e;
  }

  &:before {
    top: -6px;
  }

  &:after {
    bottom: -6px;
  }
}

.s-head__reg {
  height: 45px;
  line-height: 45px;
  float: right;
}

.s-head__reg-start {
  color: #ffffff !important;
  margin-left: 20px;
  background: #27200e !important;
  min-width: 96px;
  padding-top: 13px;
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.s-head__reg-login {
  display: inline-block;
  color: #27200e !important;
  text-decoration: none !important;
  .transition(all 0.15s ease);

  &:hover {
    color: #f6416c !important;
  }
}

.s-head__logo {
  display: inline-block;
  float: left;
  margin-right: 39px;
  width: 182px;
  height: 42px;
  background: url("/img/site/icon-logo.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.head-menu {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  float: left;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    display: inline-block;
    vertical-align: top;
    margin-right: 27px;
    font-size: 14px;
    font-weight: 600;
    color: #27200e !important;
    .transition(all 0.15s ease);
    text-decoration: none !important;
    text-transform: uppercase;

    &:hover {
      color: #f6416c !important;
    }
  }

  .current-menu-item a {
    color: #f6416c !important;
    cursor: default;
  }

  li {
    display: inline;

    &.active a {
      color: #f6416c !important;
      cursor: default;
    }
  }
}

// mobile
.s-headmob__bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  .transition(all 0.15s ease);
}

.s-headmob {
  visibility: hidden;
  right: -300px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 300px;
  background-color: #ffffff;
  .transition(all 0.15s ease);
}

.s-site_show_menu {
  overflow: hidden;

  .s-headmob {
    .transform(translate(-300px, 0));
    visibility: visible;
  }

  .s-headmob__bg {
    opacity: 1;
    visibility: visible;
  }
}


.s-headmob__close {
  position: absolute;
  top: 22px;
  right: 6px;
  width: 40px;
  height: 40px;
  .transition(all 0.15s ease);

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -8px;
    width: 15px;
    height: 16px;
    background: url("/img/layout/icon-close.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  &:hover {
    opacity: 0.9;
  }
}

.s-headmob__inner {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
}

.s-headmob__inner::-webkit-scrollbar {
  width: 5px;
}

.s-headmob__inner::-webkit-scrollbar-track {
  background: #fff;
}

.s-headmob__inner::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.s-headmob__logo {
  display: block;
  margin: 20px 0 0 20px;
  width: 182px;
  height: 42px;
  background: url("/img/site/icon-logo.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.s-headmob__menu {
  margin: 16px 20px 0 20px;
  border-top: 1px solid #eeeeee;
  padding-top: 22px;
  padding-bottom: 40px;
  -webkit-font-smoothing: antialiased;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
    color: #27200e !important;
    .transition(all 0.15s ease);
    text-decoration: none !important;
    text-transform: uppercase;

    &:hover {
      color: #f6416c !important;
    }
  }

  li {
    display: block;

    &.active a {
      color: #f6416c !important;
      cursor: default;
    }

    &:nth-child(6) {
      margin-top: 28px;
      border-top: 1px solid #eeeeee;
      padding-top: 21px;
    }

    &:nth-child(8) {
      margin-top: 25px;
      border-top: 1px solid #eeeeee;
      padding-top: 20px;
    }
  }

}




/* Top anouncement - Structure for "All screens" and Specific for "Screens beyond Small" */
.top-anouncement {
  background: @light-blue;
  padding: 14px 0 17px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  color: @warm-grey;
  margin-top: 9px;

  p {
    margin: 0;

    > span {}
  }

  a {
    text-decoration: none;
    border-bottom: 1px dashed @blue;
    padding-bottom: 1px;
    color: @blue;

    &.unavailable-feature {
      color: @warm-grey;
      border-color: @dark;
    }

    &:not(:first-of-type) {
      margin-left: 20px;
    }
  }
  // a
}

// .top-anouncement
// "ta" stands for "top-anouncement"
// .class outside the block( {} ) is used in order to output less CSS
.ta-inner {
  // .s-center
  // reset padding
  padding-bottom: 0;
}





/* Unavailable feature */
[data-feature-unavailable] {
    opacity : 0.5;
}





.grey-bg {

  + .description {
  }

  h2 {
  }
  p {
    &:not(:last-of-type) {
    }
  }
}





/* Call to action - Bottom : Try "Workshop Butler" - Structure for "All screens" and Specific for "Screens beyond Small" */
.bottom-cta {
  background: @pink-red;
  color: @white;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  position: relative;
  padding: 44px 0 68px;
  box-sizing: border-box;
  text-align: center;

  h2 {
    font-size: 24px;
    margin: 0;
  }

  a {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    background: @white;
    color: @dark;
    padding: 12px 26px;
    border-radius: 4px;
    transition: 200ms transform;
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
    }
  }

  .s-center{
    padding : 0;
  }
}






/* Footer - Structure for "All screens" and Specific for "Screens beyond Small" */
.footer {
  background: @dark;
  color: @white;
  line-height: 25px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  position: relative;

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
  }

  .s-center {
    padding-bottom: 0;
  }

  h3 {
    margin-bottom: 12px;
    font-size: 16px;
  }

  ol {
    list-style: none;
    margin: 0;
    padding-right: 25px;
    box-sizing: border-box;

    li {
      line-height: 138%;

      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
    }
    // li
  }
}
// .footer

// Links
.f-links {
  padding: 30px 0 25px;

  a {
    position: relative;
    transition: color 200ms ease-in-out;

    &:hover {
      color: @white;
      transition: color 200ms ease-in-out 151ms;
    }
  }

  .s-center {
    display: flex;
    // Footer links - column
    .fl-col {
      width: 25%;

      h3 {}

      ol {
        li {
          a {
            display: block;
          }
        }
      }

      .read-more {
        border-top: 1px solid rgba(255, 255, 255, .1);
        margin-top: 15.3px;

        a {
          display: flex;
          align-items: center;
          margin-top: 12.8px;
          // Icon
          i {
            width: 21px;
            height: 19px;
            margin-right: 7px;
            background: url("/img/site/icon-book.png") no-repeat;
            transition: transform 200ms;
          }
          // Text: Read more
          span {
            transition: transform 200ms;
          }
          // Bullet set above on :hover
          &:before {
            display: none;
          }

          &:hover {
            i {
              transform: scale(1.1);
            }

            span {
              transform: translateX(5px);
            }
          }
        }
        // a
      }
      // .read-more
    }
    // .fl-col
  }
  // .s-center
}

// Social icons and Copyright
.f-social-copyright {
  padding: 22px 0;
  border-top: 1px solid rgba(255, 255, 255, .1);

  .s-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// Social Icons
.fsc-social {
  display: flex;

  a {
    display: inline-flex;
    width: 38px;
    height: 38px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    transition: border 200ms ease-in-out;

    &:not(:first-of-type) {
      margin-left: 10px;
    }

    &:hover {
      border-color: rgba(255, 255, 255, 1);

      &:before {
        transform: scale(1.25);
      }
    }

    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: auto;
      background-size: contain!important;
      background-position: center!important;
      background-repeat: no-repeat!important;
      transition: transform 300ms ease-in-out;
    }

    &.tw {
      &:before {
        background: url("/img/site/icon-twitter.png");
      }
    }

    &.lk {
      &:before {
        background: url("/img/site/icon-linkedin.png");
      }
    }

    &.fa {
      &:before {
        background: url("/img/site/icon-facebook.png");
      }
    }

    &.go {
      &:before {
        background: url("/img/site/icon-linkedin.png");
      }
    }
  }
}

// Copyright
.fsc-copyright {}




@media screen and (max-width: 400px) {

}

@media screen and (max-width: @site-large) {
  .s-center {
    max-width: 860px;
  }
}

@media screen and (max-width: @site-large) {
  .s-center {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .head-menu,
  .s-head__reg-start {
    display: none;
  }

  .s-head__menu-toggle {
    display: inline-block;
  }
}

@media screen and (max-width: 530px) {
  .s-head__logo {
    margin-top: 3px;
    width: 157px;
    height: 36px;
    margin-right: 0;
  }
}

@media screen and (max-width: @site-large) {
  &:nth-child(6):after {
    content: "";
    display: block;
    height: 1px;
  }
}

@media screen and (max-width: @site-middle) {

}

@media screen and (max-width: 530px) {

}





@media screen and ( max-width : @break_small ) {

  /* Top anouncement - Small screends */
  .top-anouncement {
    margin-top: 0!important;

    p > span {
      display: block;
    }
  }

  // "ta" stands for "top-anouncement"
  // .class is used in order to output less CSS
  .ta-inner {
    // .s-center
  }





  /* Call to action - Bottom : Try "Workshop Butler" - Small screens */
  .bottom-cta {
    padding: 56px 0;

    h2 {}

    a {
      &:hover {}
    }
  }





  /* Header "type 1" - Small screens */
  .header-1 {
    // overide &.s-center
    header& {
      margin     : 30px 0 69px;
      box-sizing : border-box;
      // padding-bottom : 0;
    }

    .hd1-inner {
      width : 100%;
    }

    h1 {
      margin-bottom : 20px;
      font-size     : 30px;
    }
    .hd1-description {
      > *:not(:last-of-type) {
        margin-bottom : 20px;
      }
    }

  }





  /* List "type 1" - Small screens */
  .list-1 {

    .s-center {
      margin-bottom : 70px;

      .li1-row {
        flex-direction : column;

        &:not( :first-of-type ) {
          margin-top : 0;
        }
        &:first-of-type{
          .li1-col:first-of-type {
            margin-top : 0;
          }
        }

        .li1-col {
          width      : 100%;
          margin-top : 40px;

          i {
            // display : flex;

            &:before {
            }
            &.coins:before{
            }
            &.globe:before{
            }
            &.price-tag:before{
            }
            &.informative:before{
            }
          }
          h3 {
            font-size  : 18px;
            margin     : 20px 0 10px;
          }

          &:nth-child(odd) {
              padding-right : 0;
          }
          &:nth-child(even) {
              padding-left  : 0;
          }
        }

      }

    }
  }





  /* Footer - Structure for "All screens" and Specific for "Screens beyond Small" */
  .footer {
    a {}

    .s-center {
      padding-bottom: 0;
    }

    h3 {
      margin-bottom: 20px;
      font-size: 16px;
    }

    ol {
      padding-right: 0;

      li {
        &:not(:last-of-type) {
          margin-bottom: 5px;
        }
      }
      // li
    }
  }
  // .footer

  // Links
  .f-links {
    padding: 30px 0 49.3px;

    a {
      position: relative;
      transition: color 200ms ease-in-out;

      &:hover {}
    }

    .s-center {
      flex-direction: column;
      // Footer links - column
      .fl-col {
        width: 100%;

        &:not(:first-of-type) {
          margin-top: 30px;
        }

        h3 {}

        ol {
          li {
            a {
              display: inline-block;
            }
          }
        }

        .read-more {
          a {
            margin-top: 13px;
            // Icon
            i {}
            // Text: Read more
            span {}
            // Bullet set above on :hover
            &:before {}

            &:hover {
              i {}

              span {}
            }
          }
          // a
        }
        // .read-more
      }
      // .fl-col
    }
    // .s-center
  }

  // Social icons and Copyright
  .f-social-copyright {
    padding: 40px 0;

    .s-center {
      flex-direction: column;
      align-items: initial;
    }
  }

  // Social Icons
  .fsc-social {
    a {
      &:not(:first-of-type) {
        margin-left: 20px;
      }

      &:hover {
        &:before {}
      }

      &:before {}

      &.tw {
        &:before {}
      }

      &.lk {
        &:before {}
      }

      &.fa {
        &:before {}
      }

      &.go {
        &:before {}
      }
    }
  }

  // Copyright
  .fsc-copyright {
    display: flex;
    align-items: center;
    margin-top: 20px;

    img {
      display: inline-block!important;
    }

    span {
      margin-left: 17px;
    }
  }

} // @media screen and ( max-width : @break_small )





// cookies
.s-cookie {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #27200e;
  text-align: left;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;

  &.state_show {
    display: block;
  }
}

.s-cookie__btn {
  position: relative;
  top: 4px;
  float: right;
  font-size: 16px;
  background-color: #ffffff;
  line-height: 1;
  padding-top: 13px;
  padding-bottom: 14px;
  min-width: 97px;
  color: #27200e !important;

  &:hover {
    opacity: 0.9;
  }
}

.s-cookie__text {
  max-width: 733px;
  margin-right: 140px;
  line-height: 25px;
}

// footer
