.page-license-management {

  p {
    line-height: 25px;
  }


  /* Header - Structure for "All screens" and Specific for "Screens beyond Small" */
  .header-1 {
    p {
      line-height: 25px;
    }
    margin-bottom: 39px;
  }





  /* Smart statistics */
  .statistics {
    .s-center {
      display : flex;
      padding-bottom: 39px;

      .img-container {
        width : 74%;

        img {
          width   : 100%;
          display : block;
          margin-left: -11px;
        }
      }
      .description {
        padding-top: 11px;
        padding-left : 14px;
        width        : 26%;
        box-sizing   : border-box;

        h3 {
          font-size : 18px;
          margin-bottom : 10px;
        }
        p {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

    }
  }





  /* Performance */
  .performance {
    background  : @light-grey;
    padding-top : 50px;
    margin-bottom  : 70px;

    img {
      display: block;
    }

    .s-center {
      position : relative;
      padding-bottom : 0;

      .p-text {
        width : 50%;

        > * {
          padding-right : 30px;
          box-sizing    : border-box;
        }
        h2 {
          font-size: 18px;
          margin-bottom : 10px;
        }
      }
      .p-chart-1 {
        z-index                 : 2;
        position : relative;
        margin-left: -13px;

        img {
          width : 100%;
          display : block;
        }
      }
      .p-chart-2 {
        z-index                : 3;
        width: 56%;
        position: absolute;
        bottom: 210px;
        bottom: 27.5%;
        right: -70px;
        img {
          width : 100%;
        }
      }
      .p-chart-3 {
        z-index                : 1;
        margin  : -72px -70px 0;
        display : block;
        img {
          width : 100%;
        }
      }

    }
  }





  /* List "type 1" - License Management */
  // "lm" stands for "license management"
  .list-1 {
    .s-center {
      padding-bottom : 0;

      .li1-row {

        &:not( :first-of-type ) {
          margin-top : 60px;
        }

        .li1-col {

          i {

            &:before {
              width  : 38px;
              height : 38px;
            }
            &.copyright:before {
              background-image : url("/img/site/license-management/icon-copyright.png");
            }
            &.list:before {
              height : 25px;
              background-image : url("/img/site/license-management/icon-list.png");
            }
            &.user-x:before {
              width  : 40px;
              height : 30px;
              background-image : url("/img/site/license-management/icon-user-x.png");
            }
            &.email:before {
              height : 36px;
              background-image : url("/img/site/license-management/icon-email.png");
            }
          }
          h3 {
          }

          &:nth-child(odd) {
          }
          &:nth-child(even) {
          }
        }

      }

    }
  }





  @media screen and (max-width : @break_small) {

    /* Header - Small screends  */
    .header-1 {
      margin-bottom : 22px;

      p {
        line-height: 23px;
      }
    }





    /* Smart statistics */
    .statistics {
      .s-center {
        flex-direction: column;
        padding-bottom: 28px;

        .img-container {
          width: 100%;
          padding: 0 0 16px;
          margin : 0 -4px;

          img {
            margin: 0;
          }
        }
        .description {
          width: 100%;
          padding: 0;

          h3 {
          }
        }

      }
    }





    /* Performance */
    .performance {
      padding-top : 32px;
      margin-bottom  : 50px;

      img {
      }

      .s-center {

        .p-text {
          width : 55%;
          margin-bottom : 20px;

          > * {
            padding-right : 24px;
          }
          h2 {
            margin-right : -100px;
          }
        }
        .p-chart-1 {
          margin-left: -4px;

          img {
          }
        }
        .p-chart-2 {
          bottom: 21.5%;
          right: -13%;
          img {
          }
        }
        .p-chart-3 {
          margin  : -30px -20px 0;
          img {

          }
        }

      }
    }





    /* List "type 1" - License Management */
    // "lm" stands for "license management"
    .list-1 {
      .s-center {
        padding-bottom : 0;

        .li1-row {
          flex-direction : column;

          &:not( :first-of-type ) {
            margin-top : 0;
          }
          &:first-of-type{
            .li1-col:first-of-type {
              margin-top : 0;
            }
          }

          .li1-col {
            margin-top : 20px;

            &:not( :first-of-type ) {
              margin-top : 20px;
            }

            i {

              &:before {
              }
              &.copyright:before {
              }
              &.list:before {
              }
              &.user-x:before {
              }
              &.email:before {
              }
            }
            h3 {
            }

            &:nth-child(odd) {
            }
            &:nth-child(even) {
            }
          }

        }

      }
    }

  }

}
