
@site-large: 1180px;
@site-middle: 920px;
@site-tab: 750px;

.s-site,
.s-footer,
.s-cookie {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #27200E;
  overflow: hidden;
}

@import "_layout";
@import "_landing";
@import "_info";
@import "_fees-for-licensed-events";
@import "_statistics-and-reports";
@import "_license-management";
@import "_workshop-management";
@import "_evaluations-and-ratings";
@import "_certificate";
@import "_communication-with-attendees";
@import "_collaboration";
