.page-stats-and-reports {

  p {
    line-height: 25px;
  }

  /* Header - Structure for "All screens" and Specific for "Screens beyond Small" */
  .header-1 {
    p {
      line-height: 25px;
    }
  }

  /* Text & image */
  > section {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 99px;
    }

    .s-center {
      padding-bottom: 0;

      h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      img {
        margin-top: 20px;
        width: 100%;
      }

      > *:not(img) {
        width: 61%;
      }
    }

  }

  @media screen and (max-width: @break_small) {

    /* Header */
    .header-1 {
      margin-bottom: 50px;
    }

    /* Text & image - Small screens */
    > section {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 60px;
      }

      .s-center {

        h2 {
          font-size: 18px;
          margin-bottom: 10px;
        }
        img {
          margin-top: 10px;
        }

        > *:not(img) {
          width: 100%;
        }

      }
    }

  }

}
