.page-workshop-management {

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  p {
    line-height: 25px;

    &:not(:last-of-type) {
      margin-bottom : 30px;
    }
  }


  /* Header - Structure for "All screens" and Specific for "Screens beyond Small" */
  .header-1 {
    margin-bottom: 37px;
  }





  /* Events management */
  .events-management {
    .s-center {
      padding-bottom: 100px;

      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .content {

        &:after {
          content: "";
          display: table;
          clear: both;
        }



        .bg-50-y {
          + .description {
            padding-top: 7px!important;
          }
        }

        .em-col {
          width : 50%;
          position: relative;
          box-sizing: border-box;

          .img-container {
            img {
              padding: 0 7px 0;
            }

          }

          .description {
            padding : 25px 20px 20px;
            box-sizing: border-box;
            position : relative;

            + .description {
              margin-top: 20px;
            }
          }

          &:first-child {
            float : left;
            padding-right:  10px;

            * > {
              &:last-child {
                background: none;
              }
            }
          }
          &:nth-child(2) {
            float: right;
            margin-top : 10px;
            padding-left:  20px;
            margin-top: 13px;

            .description {
              padding-top: 0;
              padding-bottom: 0;
            }
          }
          &:last-child {
            margin-top : 16px;
            float: right;
            padding-left:  20px;
          }

          &:nth-child(even) {

          }
          &:nth-child(odd) {
          }


        }
      }

    }
  }





  /* Website integration */
  .website-integration {
    background : @light-blue;

    .s-center {
      padding-top: 107px;
      padding-bottom: 128px;

      .content {
        display : flex;

        .description {
          padding-right : 15px;
          width        : 26%;
          box-sizing   : border-box;
          margin-top: 13px;

          h2 {
            font-size : 24px;
            margin-bottom : 10px;
          }
        }

        .img-container {
          width : 74%;

          img {
            width   : 100%;
            display : block;
          }
        }
      }

    }
  }





  /* Other benefits */
  .other-benefits {
    .s-center {
      display: flex;
      justify-content: space-between;
      padding-top : 100px;
      padding-bottom : 81px;

      .ob-col {
        width : 31.7%;
        position: relative;
        box-sizing: border-box;

        .img-container {
          img {
            padding: 0 7px 0;
          }
          + .description {
            padding-top: 0!important;
          }
        }

        .description {
          padding : 25px 20px 20px;
          box-sizing: border-box;
          position : relative;

          + .description {
            margin-top: 20px;
          }
        }

      }

    }
  }





  @media screen and (max-width : @break_small) {

    /* Header - Small screens */
    .header-1 {
      margin-bottom : 34px;
    }





    /* Events management */
    .events-management {
      .s-center {
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;

        .content {
          display: flex;
          flex-direction: column;

          &:after {
            display: none;
          }

          .em-col {
            width: 100%;

            .img-container {
              position: relative;

              img {
                padding: 0 12px 0;
              }

              + .description {
                padding-top : 0;
              }

              &:after {
              }
            }

            .description {
              + .description {
                margin-top: 20px;
              }

              h2 {
              }
              p {
                &:not(:last-of-type) {
                }
              }
            }

            &:first-child {
              padding-right: 0;
              margin-top: 22px;

              * > {
                &:last-child {
                  background: none;
                }
              }
            }
            &:nth-child(2) {
              order: -1;
              margin-top : 0;
              padding-left:  0;

              .description {
                background: none;
                padding-top: 6px;
              }
            }
            &:last-child {
              margin-top : 0;
              padding-left:  0;
            }

          }
        }

      }
    }





    /* Website integration */
    .website-integration {
      .s-center {
        padding: 50px 0 60px;

        .content {
          flex-direction: column;

          .description {
            padding: 0 20px;
            width: 100%;
            margin-top: 0px;

            h3 {
            }
          }

          .img-container {
            width : 100%;
            padding: 0 13px;
            box-sizing: border-box;

            img {
              margin-top: 10px;
            }
          }
        }

      }
    }





    /* Other benefits */
    .other-benefits {
      .s-center {
        padding: 0 0 70px;
        flex-direction: column;

        .ob-col {
          width : 100%;
          margin-top : 20px;

          .img-container {
            img {

            }
            + .description {
              padding-top: 5px!important;
            }
          }

          .description {
          }
        }


        &:first-child {
          margin-top : 0;
        }

      }
    }


  } // @media screen and (max-width : @break_small)

} // .page-communication-w-a
