<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description"  content="Manage your workshop smoothly, publish the event schedule on your website, grow your audience with customizable reminders, save your time by automating the routine." />
    <meta name="keywords"  content="workshop management,workshop management platform,workshop management tool,workshop management software,optimize workshop flow,workshop best practices" />

    <meta property="og:title" content="Workshop management platform | Workshop Butler" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://workshopbutler.com/" />
    <meta property="og:image" content="https://workshopbutler.com/img/img-public.png" />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="250" />
    <meta property="og:site_name" content="Workshop Butler" />
    <meta property="og:description" content="Manage your workshop smoothly, publish the event schedule on your website, grow your audience with customizable reminders, save your time by automating the routine." />
    <meta property="article:published_time" content="2016-09-18T23:34:11Z" />
    <meta property="article:modified_time" content="{{ $.Lastmod  }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Workshop management platform | Workshop Butler" />
    <meta name="twitter:description" content="Manage your workshop smoothly, publish the event schedule on your website, grow your audience with customizable reminders, save your time by automating the routine." />
    <meta name="twitter:image" content="https://workshopbutler.com/img/img-public.png" />
    <meta itemprop="image" content="https://workshopbutler.com/img/img-public.png" />

    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }}</title>
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/slick.min.js"></script>
    <script src="vendor/modernizr.js"></script>
    <script type="text/javascript">
      window.App = {
          events: {}
      };
    </script>

    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <div class="s-site">
      {{ block "header" . }}{{end}}

      {{ block "main" . }}{{end}}

    </div>
    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
    <script src="app.js"></script>
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
