{{ define "main" }}
    <div class="body">
        <div class="s-head-info">
            {{ partial "header" . }}
            <div class="s-head-info__title">
                {{ .Title }}
            </div>
        </div>
        <div class="s-center">
            <div class="s-content-info">
                {{ .Content }}
            </div>
        </div>
    </div>

{{ end }}
