
// feedback
.sm-feedback {
  margin-top: 92px;
  margin-bottom: 83px;
}

.sm-feedback__title {
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 54px;
  text-align: center;
}

.sm-feedback__list {
  overflow: hidden;
}

.sm-feed {
  float: left;
  width: 49%;
  margin-right: 2%;

  &:last-child {
    margin-right: 0;
  }
}

.sm-feed__comment {
  position: relative;
  padding: 25px 30px 22px;
  border-radius: 3px;
  text-align: left;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;

  }

  .text {
    line-height: 22px;
    margin-bottom: 6px;
  }

  .title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  .hint {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #777777;
    max-width: 280px;
    font-weight: bold;
  }
}

.sm-feed__ava {
  position: absolute;
  bottom: 0;
  width: 90px;
  height: 90px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

// states
.sm-feed_type_left {
  .sm-feed__comment {
    margin-left: 118px;
    background-color: #6DC6DD;
    border-radius: 4px 4px 4px 0;

    &:before {
      left: -7px;
      width: 0;
      height: 0;
      border-bottom: 9px solid #6DC6DD;
      border-left: 7px solid transparent;
    }
  }

  .sm-feed__ava {
    left: -118px;
    background: url("/img/main/img-urgen.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.sm-feed_type_right {
  margin-top: 61px;

  .sm-feed__comment {
    margin-right: 118px;
    background-color: #FFD460;
    border-radius: 4px 4px 0 4px;


    &:before {
      right: -7px;
      width: 0;
      height: 0;
      border-bottom: 9px solid #FFD460;
      border-right: 7px solid transparent;
    }
  }

  .sm-feed__ava {
    right: -118px;
    background: url("/img/main/img-jason.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

// clients
.sm-clients {
  text-align: justify;
  margin-bottom: 39px;

  &:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.sm-clients__i {
  display: inline-block;
  position: relative;
  vertical-align: top;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  &.type-manag {
    background-image: url("/img/main/client-manag.png");
    width: 163px;
    height: 32px;
  }

  &.type-collab {
    background-image: url("/img/main/client-collab.png");
    width: 233px;
    height: 32px;
  }

  &.type-team {
    background-image: url("/img/main/client-team.png");
    width: 187px;
    height: 40px;
    top: -4px;
  }

  &.type-lean {
    background-image: url("/img/main/client-lean.png");
    width: 165px;
    height: 18px;
    top: 4px;
  }
}

@media screen and (max-width: @site-large) {
  .sm-feedback {
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 45px;
  }

  .sm-feed_type_left {
    width: 48%;
    margin-right: 3%;

    &:last-child {
      margin-right: 0;
    }
  }

  .sm-feed__comment {
    .text {
      margin-bottom: 16px;
    }
  }

  .sm-clients {
    margin-bottom: 78px;
  }
}

@media screen and (max-width: @site-tab) {
  .sm-feedback {
    margin: 62px 0 41px;
  }

  .sm-feedback__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .sm-feed {
    width: auto;
    margin-right: 0;
    float: none;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .sm-feed_type_right {
    margin-top: 0;
  }

  .sm-clients {
    text-align: center;
    margin-bottom: 55px;

    &:after {
      display: none;
    }
  }

  .sm-clients__i {
    display: block;
    margin: 0 auto 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .sm-feed {
    position: relative;
    padding-top: 100px;
  }

  .sm-feed__comment {
    margin-left: 0 !important;
    margin-right: 0!important;
    border-radius: 0;
    padding: 15px 20px !important;
  }

  .sm-feed__ava {
    position: absolute;
    left: 0 !important;
    top: -100px;
  }

}