
.sm-plans {
  padding-top: 80px;
  margin-bottom: 101px;
}

.sm-plans__content {
  margin-top: 59px;
  .clearfix();
}

.sm-plan {
  position: relative;
  float: left;
  width: 50%;
  padding: 33px 30px 30px 53px;
  min-height: 520px;
  background-color: #EEEEEE;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sm-plan__hint {
  margin-bottom: -4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #cccccc;
  letter-spacing: 0.3px;
}

.sm-plan__head {
  margin-bottom: 7px;
  line-height: 1;
}

.sm-plan__price {
  font-size: 100px;
  font-weight: bold;
  color: #6DC6DD;
}

.sm-plan__period {
  color: #cccccc;
  font-size: 20px;
  font-weight: bold;
}

.sm-plan__desc {
  margin-bottom: 13px;
  color: #777777;
  font-size: 16px;
  line-height: 25px;
}

.sm-plan__title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
  font-weight: bold;
}

.sm-plan__text {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 16px;
}

.sm-plan__btn-white,
.sm-plan__btn-bordered {
  .btn-base;
  text-transform: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  border-radius: 4px;
}

.sm-plan__btn-bordered {
  color: #777777;
  border:2px solid #CCCCCC;
  padding: 11px 10px 15px;
  min-width: 176px;

  &:hover {
    border-color: #999;
  }
}

.sm-plan__btn-white {
  padding: 13px 10px 17px;
  min-width: 180px;
  background-color: #fff;
  color: #6dc6dd !important;

  &:hover {
    opacity: .9;
  }
}

// states
.sm-plan_type_free {
  z-index: 3;
  background-color: #6dc6dd;
  color: #ffffff;
  border-radius: 4px 0 0 4px;

  .sm-plan__price {
    color: #ffdb78;
  }

  .sm-plan__period,
  .sm-plan__desc {
    color: rgba(255, 255, 255, .7);
  }

  .sm-plan__head {
    margin-bottom: 1px;
  }

  .sm-plan__desc {
    margin-bottom: 22px;
  }

  .sm-plan__text {
    margin-bottom: 21px;
  }

}

.sm-plan_type_subs {
  margin-top: 80px;
  border-radius: 0 4px 4px 0;

  &:before {
    content: '';
    position: absolute;
    left: -80px;
    height: 100px;
    width: 80px;
    bottom: 0;
    background-color: #eeeeee;
  }

  &:after {
    content: '';
    position: absolute;
    left: -80px;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 80px solid #b6dee9;
    border-right: 80px solid transparent;
  }
}

@media screen and (max-width: @site-middle) {
  .sm-plan {
    padding: 25px 20px 20px 30px;
    min-height: 530px;
  }

  .sm-plan_type_subs {
    margin-top: 0;

    &:before,
    &:after {
      display: none;
    }
  }
}

@media screen and (max-width: @site-tab) {
  .sm-plans {
    padding-top: 42px;
    margin-bottom: 59px;
  }

  .sm-plans__content {
    margin-top: 47px;
  }

  .sm-plan__hint {
    padding-top: 8px;
  }

  .sm-plan {
    float: none;
    display: block;
    width:auto;
    min-height: 0;
    border-radius: 4px !important;
    padding: 12px 20px 34px;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  .sm-plan_type_subs {
    .sm-plan__head {
      margin-bottom: 1px;
    }

    .sm-plan__desc {
      margin-bottom: 23px;
    }

    .sm-plan__text {
      margin-bottom: 22px;
    }
  }
}

