
.sm-slider {
  padding-top: 82px;
  margin-bottom: 70px;
}

.sm-slider__content {
  margin-top: 50px;
}

.b-slider {
  .slick-arrow {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: none !important;
    color: transparent;
    background: #6dc6dd;
    .transition(all .15s ease);
    top: 220px;
    z-index: 10;

    &:before {
      content: '';
      position: absolute;
      width: 17px;
      height: 33px;
      left: 50%;
      top: 50%;
      margin: -16.5px 0 0 -8px;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:hover {
      opacity: .9;
    }

    &:focus {
      outline: none !important;
    }
  }

  .slick-prev {
    left: 50%;
    margin-left: -570px;

    &:before {
      margin-left: -11px;
      background-image: url("/img/main/slider/arrow-left.png");
    }
  }

  .slick-next {
    left: 50%;
    margin-left: 490px;

    &:before {
      margin-left: -4px;
      background-image: url("/img/main/slider/arrow-right.png");
    }
  }
}

.b-slider__i {
  position: relative;
  padding: 10px 20px;
  width: 800px;

  &:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 10px;
    bottom: 10px;
    left: 20px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .95);
    .transition(all .15s ease);
  }

  &:focus {
    outline: none !important;
  }

  &.slick-current:before {
    opacity: 0;
  }
}

.b-slider__img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  border-radius: 4px;
}

.b-slider__descr {
  padding-top: 21px;
  max-width: 800px;
  margin: 0 auto;
  min-height: 110px;
}

.b-slider__descr-i {
  display: none;
  overflow: hidden;

  &.state_active {
    display: block;
  }
}

.b-slider__btn {
  .btn-base;
  float: right;
  margin-left: 55px;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  padding: 12px 20px 14px;
  min-width: 155px;
  border: 2px solid #ccc;
  border-radius: 50px;
  color: #777 !important;
  text-transform: none;

  &:hover {
    border-color: #777;
  }
}

.b-slider__descr-text {
  overflow: hidden;
  font-size: 18px;
  line-height: 1.444;
}

// slider default
/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

@media screen and (max-width: @site-large) {
  .b-slider {
    .slick-prev {
      margin-left: -460px;
    }

    .slick-next {
      margin-left: 380px;
    }
  }
}

@media screen and (max-width: @site-middle) {
  .b-slider__i {
    width: 600px;
  }

  .b-slider__descr {
    max-width: 600px
  }

  .b-slider__descr-text {
    font-size: 16px;
  }

  .b-slider__btn {
    margin-left: 20px;
  }

  .b-slider {
    .slick-arrow {
      top: 160px;
    }

    .slick-prev {
      margin-left: -370px;
    }

    .slick-next {
      margin-left: 290px;
    }
  }
}

@media screen and (max-width: @site-tab) {
  .sm-slider {
    padding-top: 31px;
    margin-bottom: 56px;
  }

  .sm-slider__content {
    margin-top: 24px;
  }

  .b-slider__i {
    width: 360px;
    padding: 5px;

    &:before {
      right: 5px;
      left: 5px;
      bottom: 5px;
      top: 5px;
    }
  }

  .b-slider__img {
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
  }

  .b-slider__descr {
    padding-top: 9px;
    max-width: 360px;
  }

  .b-slider__descr-i {
    position: relative;
    padding-bottom: 64px;
  }

  .b-slider__descr-text {
    font-size: 18px;
    line-height: 26px;
  }

  .b-slider__btn {
    float: none;
    position: absolute;
    left: 0;
    bottom: 5px;
    margin-left: 0;
  }

  .b-slider .slick-arrow {
    display: none !important;
  }
}

@media screen and (max-width: 400px) {
  .b-slider__i {
    width: 280px;
  }

  .b-slider__descr {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}



