

.sm-stat {
  max-width: 861px;
  margin: 93px auto 28px;
  overflow: hidden;
}

.sm-stat__main {
  float: left;
  width: 38%;
  margin-right: 12%;
  margin-top: -14px;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 1;
  font-weight: bold;

  .title {
    font-size: 150px;
    line-height: 1;
    margin-bottom: 0;
  }
}

.sm-stat__main-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sm-stat__info {
  float: left;
  width: 50%;
  overflow: hidden;
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 100%;
    overflow: hidden;
    height: 0;
    visibility: hidden;
  }
}

.sm-stat__i {
  display: inline-block;
  vertical-align: top;
  width: 39%;
  margin-bottom: 39px;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;

  .number {
    font-size: 70px;
    line-height: 1;
    margin-bottom: -2px;
  }

  .text {
    position: relative;
    top: 4px;
    line-height: 31px;
    color: #cccccc;
  }
}

@media screen and (max-width: @site-large) {
  .sm-stat {
    margin-top: 84px;
  }
}

@media screen and (max-width: @site-tab) {
  .sm-stat {
    margin-top: 76px;
    max-width: 332px;
  }

  .sm-stat__main {
    width: auto;
    float: none;
    margin-right: 0;
    padding-top: 0;
    margin-bottom: 47px;
  }

  .sm-stat__info {
    width: auto;
    float: none;
  }
}