
.sm-tabs {
  padding-top: 80px;
  margin-bottom: 80px;
  .clearfix();
  /* Version 2 Beta used on page: "/integration" - Structure for "All screens" and Specific for "Screens beyond Small"  */
  &.v2-beta {
    padding: 0;

    .sm-tabs__main {
      margin-top: 25px;

      .sm-tabs__nav {
        width: 54.5%;

        a {
          // &.sm-tabs__link
          padding: 20px;

          &:not(:first-of-type) {
            margin-top: 20px;
          }

          &.state_active {
            background: @light-grey;
            box-shadow: none;
          }

          &:hover {
            background: @light-grey;
          }

          .title {
            color: @dark;
            font-size: 18px;
            margin-bottom: 10px;
          }

          .text {}
        }
      }
      // .sm-tabs__nav

      .sm-tabs__dots {
        display: none;

        a {}
      }
    }
    // .sm-tabs__main

    .sm-tabs__r {
      margin-left: 60%;

      .sm-tabs__content {

        img {
          width: 100%;
        }
      }
    }
  }
  // &.v2-beta

}

.sm-tabs__main {
  margin-top: 69px;
}

.sm-tabs__nav {
  float: left;
  width: 39.5%;
}

.sm-tabs__r {
  margin-left: 43%;
  position: relative;
}

.sm-tabs__link {
  display: block;
  text-decoration: none !important;
  border-radius: 4px;
  padding: 21px 30px 29px;
  color: #27200d !important;
  .transition(all .15s ease);

  .title {
    font-weight: bold;
    color: #6dc6dd;
    font-size: 24px;
    line-height: 1.333;
    margin-bottom: 5px;
    .transition(all .15s ease);
  }

  .text {
    font-size: 16px;
    line-height: 1.5625;
  }

  &:hover {
    .title {
      color: #27200d;
    }
  }

  &.state_active {
    cursor: default;
    box-shadow: 0 0 8px rgba(0,0,0, .1);

    .title {
      color: #27200d;
    }
  }
}

.sm-tabs__content {
  display: none;

  &.state_active {
    display: block;
  }
}

.sm-tabs__img {
  display: block;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 8px rgba(0,0,0, .1);
}

.sm-tabs__dots {
  display: none;
  vertical-align: top;
  padding: 0 22px;
  height: 30px;
  line-height: 29px;
  text-align: center;
  border-radius: 30px;
  background-color: #6dc6dd;
}

.sm-tabs__dot {
  display: inline-block;
  margin: 0 1px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  text-decoration: none !important;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .5);
  .transition(all .15s ease);

  &:hover,
  &.state_active {
    background-color: rgba(255, 255, 255, 1);
  }
}

@media screen and (max-width: @site-large) {
  .sm-tabs__nav {
    width: 50%;
  }

  .sm-tabs__r {
    margin-left: 55%;
  }
}

@media screen and (max-width: @site-middle) {
  .sm-tabs__nav {
    width: 52%;
  }

  .sm-tabs__link {
    padding: 10px 15px;

    .title {
      font-size: 20px;
    }

    .text {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: @site-tab) {
  .sm-tabs {
    padding-top: 41px;
    margin-bottom: 61px;
  }

  .sm-tabs__nav {
    width: auto;
    float: none;
  }

  .sm-tabs__main {
    margin-top: 30px;
  }

  .sm-tabs__link {
    display: none;
    padding: 0;
    box-shadow: none !important;

    &.state_active {
      display: block;
    }

    .title {
      color: #27200d;
      font-size: 24px;
      line-height: 32px;
    }

    .text {
      font-size: 16px;
      line-height: 25px;
    }
  }

  .sm-tabs__dots {
    display: inline-block;
    margin-top: 9px;
    margin-bottom: 21px;
  }

  .sm-tabs__r {
    margin-left: 0;
  }

}



@media screen and ( max-width : @break_small ) {

  .sm-tabs {
    /* Version 2 Beta used on page: "/integration" - "Small screens" */
    &.v2-beta {
      margin-bottom: 50px;

      .sm-tabs__main {
        margin-top: 25px;

        .sm-tabs__nav {
          width: 100%!important;

          a {
            // &.sm-tabs__link
            display: block;
            background: none;
            padding-left: 0!important;
            padding-right: 0!important;
            padding-bottom: 0!important;

            &:not(:first-of-type) {
              margin-top: 30.8px!important;
            }

            &.state_active {
              background: @white;
            }

            &:hover {
              background: @white;
            }

            .title {}

            .text {}

            .img-container {
              display: block!important;
              box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
              margin-top: 20px;

              img {
                width: 100%;
              }
            }
          }
          // a
        }
        // .sm-tabs__nav
      }
      // .sm-tabs__main

      .sm-tabs__r {
        display: none;
      }
    }
    // &.v2-beta
  }
  // .sm-tabs

}
