
.sm-tools {
  padding-top: 80px;
  margin-bottom: 79px;
}

.sm-tools__content {
  margin-top: 63px;
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: 0;
  }
}

.sm-tools__item {
  display: inline-block;
  vertical-align: top;
  width: 21%;
  position: relative;
  padding-top: 219px;
  text-align: left;
}

.sm-tools__img {
  position: absolute;
  top: 0;

  &.type-first {
    left: 3px;
    top: 8px;
    width: 100%;
    height: 196px;
    background: url("/img/main/tools/img-tools-1.svg") no-repeat;
  }

  &.type-second {
    left: 11px;
    top: 0;
    width: 100%;
    height: 207px;
    background: url("/img/main/tools/img-tools-2.svg") no-repeat;
  }

  &.type-third {
    left: 18px;
    top: 18px;
    width: 100%;
    height: 189px;
    background: url("/img/main/tools/img-tools-3.svg") no-repeat;
  }

  &.type-fourth {
    left: 3px;
    top: 19px;
    width: 100%;
    height: 182px;
    background: url("/img/main/tools/img-tools-4.svg") no-repeat;
  }
}

.sm-tools__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sm-tools__text {
  font-size: 16px;
  line-height: 25px;
}

@media screen and (max-width: @site-large) {
  .sm-tools__item {
    width: 23%;
    padding-top: 195px;
  }

  .sm-tools__img {
    left: 0 !important;
    width: 90% !important;
  }
}

@media screen and (max-width: @site-middle) {
  .sm-tools__item {
    width: 45%;
    padding-top: 220px;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: @site-tab) {
  .sm-tools {
    padding-top: 37px;
    margin-bottom: 60px;
  }

  .sm-tools__content {
    text-align: left;
    max-width: 360px;
    margin: 30px auto 0;

    &:after {
      display: none;
    }
  }

  .sm-tools__item {
    display: block;
    margin-bottom: 55px;
    width: 100%;
    padding-top: 210px;

    &:nth-child(2) {
      padding-top: 246px;
      margin-bottom: 35px;
    }

    &:nth-child(3) {
      padding-top: 220px;
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 0;
      padding-top: 219px;
    }
  }

  .sm-tools__img {
    left: 50% !important;
    .transform(translate(-50%, 0));

    &.type-first {
      width: 225px !important;
      height: 190px;
    }

    &.type-second {
      width: 203px !important;
      height: 219px;
      margin-left: 10px;
    }

    &.type-third {
      width: 200px !important;
      height: 195px !important;
      margin-left: -9px;
    }

    &.type-fourth {
      width: 224px !important;
      height: 174px;
    }
  }

}
