
.sm-welcome {
  position: relative;
  padding-top: 29px;
  padding-bottom: 274px;
  text-align: left;
}

.sm-welcome__title {
  max-width: 600px;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 27px;
}

.sm-welcome__btn-try,
.sm-welcome__btn-video {
  .btn-base;
  vertical-align: top;
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  border-radius: 4px;
  text-decoration: none !important;
}


.sm-welcome__btn-try {
  color: #ffffff;
  padding: 18px 15px 22px;
  min-width: 166px;
  background-color: #27200D;
  margin-right: 16px;

  &:hover {
    background-color: #F6416C;
  }
}

.icons-video {
  position: absolute;
  background-color: #27200d;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  top: 10px;
  right: -20px;
  .transition(all .15s ease);

  &:after {
    content: '';
    position: absolute;
    left: 15px;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 5px solid transparent;
  }

  &.type-big {
    width: 42px;
    height: 42px;
    border-radius: 35px;
    top: 14px;
    right: -22px;

    &:after {
      left: 18px;
      top: 16px;
    }
  }
}


.sm-welcome__btn-video {
  color: #27200d;
  border:2px solid #27200D;
  min-width: 196px;
  padding: 16px 15px 20px;
  background-color: #ffffff;

  &:hover {
    border-color: #F6416C;

    .icons-video {
      background-color: #F6416C;
    }
  }
}

// bg
.sm-welcome__bg {
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 1370px;
  height: 295px;
  margin-left: -685px;
  overflow: hidden;
}

.welcome-bg__col {
  float: left;
  width: 8.6%;
  margin-right: 0.45%;

  &:last-child {
    margin-right: 0;
  }

  &.type-1 {
    padding-top: 130px;
  }

  &.type-2 {
    padding-top: 170px;
  }

  &.type-3 {
    padding-top: 215px;
  }

  &.type-4 {
    padding-top: 165px;
  }

  &.type-5 {
    padding-top: 130px;
  }

  &.type-6 {
    padding-top: 85px;
  }

  &.type-7 {
    padding-top: 45px;
  }

  &.type-8 {
    padding-top: 85px;
  }

  &.type-9 {
    padding-top: 45px;
  }

  &.type-10 {
    padding-top: 0;
  }

  &.type-11 {
    padding-top: 45px;
  }
}

.welcome-bg__i {
  height: 80px;
  margin-bottom: 5px;
  -webkit-background-size: cover;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #eee;

  &:last-child {
    margin-bottom: 0;
  }

  &.type-1 {
    background-image: url("/img/main/welcome/img-bg-1.png");
  }

  &.type-2 {
    background-image: url("/img/main/welcome/img-bg-2.png");
  }

  &.type-3 {
    background-image: url("/img/main/welcome/img-bg-3.png");
  }

  &.type-4 {
    background-image: url("/img/main/welcome/img-bg-4.jpg");
  }

  &.type-5 {
    background-image: url("/img/main/welcome/img-bg-5.png");
  }

  &.type-6 {
    background-image: url("/img/main/welcome/img-bg-6.png");
  }

  &.type-7 {
    background-image: url("/img/main/welcome/img-bg-7.jpg");
  }

  &.type-8 {
    background-image: url("/img/main/welcome/img-bg-8.png");
  }

  &.type-9 {
    background-image: url("/img/main/welcome/img-bg-9.png");
  }

  &.type-10 {
    background-image: url("/img/main/welcome/img-bg-10.png");
  }

  &.type-11 {
    background-image: url("/img/main/welcome/img-bg-11.png");
  }

  &.type-12 {
    background-image: url("/img/main/welcome/img-bg-12.jpg");
  }

  &.type-13 {
    background-image: url("/img/main/welcome/img-bg-13.png");
  }

  &.type-14 {
    background-image: url("/img/main/welcome/img-bg-14.png");
  }

  &.type-15 {
    background-image: url("/img/main/welcome/img-bg-15.png");
  }

  &.type-16 {
    background-image: url("/img/main/welcome/img-bg-16.png");
  }

  &.type-17 {
    background-image: url("/img/main/welcome/img-bg-17.png");
  }

  &.type-18 {
    background-image: url("/img/main/welcome/img-bg-18.jpg");
  }

  &.type-19 {
    background-image: url("/img/main/welcome/img-bg-19.png");
  }

  &.type-20 {
    background-image: url("/img/main/welcome/img-bg-20.png");
  }

  &.type-21 {
    background-image: url("/img/main/welcome/img-bg-21.png");
  }

  &.type-22 {
    background-image: url("/img/main/welcome/img-bg-22.png");
  }

  &.type-23 {
    background-image: url("/img/main/welcome/img-bg-23.png");
  }

  &.type-24 {
    background-image: url("/img/main/welcome/img-bg-24.png");
  }

  &.type-25 {
    background-image: url("/img/main/welcome/img-bg-25.jpg");
  }

  &.type-26 {
    background-image: url("/img/main/welcome/img-bg-26.png");
  }

  &.type-27 {
    background-image: url("/img/main/welcome/img-bg-27.png");
  }
}

// navigation
.sm-nav {
  background-color: #f6416c;
  height: 100px;

  &.state_fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 20;
  }
}

.sm-nav__helper {
  height: 100px;
  display: none;
}

.sm-nav__inner {
  display: table;
  height: 100px;
  width: 100%;
}

.sm-nav__i {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 25%;
  .transition(all .15s ease);
  padding: 0 25px;
  font-size: 18px;
  line-height: 1.222;
  font-weight: bold;
  color: #ffffff !important;
  text-decoration: none !important;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 17px;
    bottom: 17px;
    width: 2px;
    background-color: rgba(255, 255, 255, .1);
  }

  &:last-of-type:after {
    display: none;
  }

  &:hover {
    color: #efefef !important;
  }
}

.sm-nav_state_three {
  background-color: #27200D;

  .sm-nav__i {
    width: 33.3%;
  }
}

// popup
.sm-popup {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, .7);
  padding: 50px 20px;
  z-index: 100;

  &.state_active {
    display: block;
  }
}

.sm-popup__bg {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.sm-popup__content {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  height: 570px;
  background-color: #ffffff;
}

.sm-popup__inner {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.sm-popup__close {
  position: absolute;
  right: -27px;
  top: 0;
  width: 21px;
  height: 22px;
  background: url("/img/main/icon-close.svg") no-repeat;
  opacity: .9;
  .transition(all .15s ease);

  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: @site-large) {
  .sm-nav__i {
    font-size: 16px;
    padding: 0 10px;
  }
}

@media screen and (max-width: @site-middle) {
  .sm-popup__content {
    width: 600px;
    height: 340px;
  }
}

@media screen and (max-width: @site-tab) {
  .s-main {
    padding-top: 0;
  }

  .sm-welcome {
    padding-bottom: 291px;
  }

  .sm-welcome__title {
    margin-bottom: 13px;
    font-size: 30px;
    line-height: 40px;
  }

  .sm-welcome__btn-try {
    min-width: 135px;
    margin-right: 15px;
  }

  .sm-welcome__btn-video {
    min-width: 131px;
  }

  .sm-nav__helper,
  .sm-nav {
    display: none !important;
  }

  .sm-popup__content {
    height: 220px;
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .sm-welcome__title {
    font-size: 26px;
    line-height: 1.333;
  }

  .sm-welcome__btn-try {
    margin-bottom: 10px;
  }

  .sm-popup__content {
    height: 220px;
    width: 260px;
  }
}
