@import "base/_vars";
@import "base/_mixins";
// core
@import "base/_fonts";
@import "base/_reset";
@import "base/_scaffolding";
@import "base/_helpers";
@import "base/_tables";

html,
body {
  height: 100%;
}

h1 {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 36px;
}

h2 {
  margin: 0 0 @space*0.5;
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  margin: 0 0 @space*0.5;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: @space*0.4;
}

p {
  margin-bottom: 10px;
}

label {
  padding-right: .5em;
  min-width: 10em;
  display: block;
  cursor: pointer;
}

input,
select {
  height: 2em;
  border-radius: 3px;
  border: 1px solid @border-grey;
  padding: @space*0.3;
  width: 100%;
  margin-bottom: @space*0.5;

}

input[type="checkbox"],
input[type="radio"] {
  width: 1.3em;
  height: 1em;
}

label.bold {
  input {
    width: 1.7em;
  }
}
div.checkbox-tip {
  margin-left: @space*1.2;
  font-weight: normal;
}

select {
  background-color: white;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFW…zTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
  height: 3em;
  cursor: pointer;
}

code {
  font-size: @small-font-size;
  background-color: @background;
}
// widgets
@import "common/_tooltip-help";

@import "site/_site-main";
