<div class="s-pay s-pay_type_free">
    <div class="s-pay__head">
        <div class="s-pay__title">
            FREE
        </div>
        <div class="s-pay__price">
            <span>€0</span> / month
        </div>
        <a class="s-pay__btn btn" href="https://app.workshopbutler.com/register">
            Sign up
        </a>
        <div class="s-pay__hint">
            Good for everyone to try out Workshop Butler
        </div>
    </div>

    <div class="s-pay__feature">
        <div class="s-pay__i">
            1 paid event per month
        </div>
        <div class="s-pay__i">
            <a class="link-blue" href="https://workshopbutler.com/integration" target="_blank">Website integration</a>
        </div>
    </div>
    <div class="s-pay__other">
        <div class="s-pay__other-title">
            Also all these features:
        </div>
        <div class="s-pay__i">
            Unlimited non-commercial events
        </div>
        <div class="s-pay__i">
            Workshop lifecycle automation
        </div>
        <div class="s-pay__i">
            Slack & MailChimp integration
        </div>
        <div class="s-pay__i">
            Help center
        </div>
        <div class="s-pay__i">
            Built-in event, registration and evaluation pages
        </div>
        <div class="s-pay__i">
            Unlimited registered attendees
        </div>
    </div>
    <a class="link-blue s-pay__toggle" href="#" data-toggle-features>
        <span class="more">More features</span>
        <span class="less">Less features</span>
    </a>
</div>

<div class="s-pay">
    <div class="s-pay__head">
        <div class="s-pay__title">
            ESSENTIAL
        </div>
        <div class="s-pay__price">
            <span>€39</span> / month
        </div>
        <a class="s-pay__btn btn" href="https://app.workshopbutler.com/register">
            GET ESSENTIAL
        </a>
        <div class="s-pay__hint">
            Great for established trainers
        </div>
    </div>

    <div class="s-pay__feature">
        <div class="s-pay__i">2 paid events per month</div>
        <div class="s-pay__i">Unlimited additional events for €39</div>
        <div class="s-pay__i">Easy Collaboration with other Trainers</div>
        <div class="s-pay__i">
            <a class="link-blue" href="https://workshopbutler.com/integration" target="_blank">Website integration</a>
        </div>
    </div>
    <div class="s-pay__other">
        <div class="s-pay__other-title">
            Also all these features:
        </div>
        <div class="s-pay__i">
            Unlimited non-commercial events
        </div>
        <div class="s-pay__i">
            Workshop lifecycle automation
        </div>
        <div class="s-pay__i">
            Slack & MailChimp integration
        </div>
        <div class="s-pay__i">
            Help center
        </div>
        <div class="s-pay__i">
            Built-in event, registration and evaluation pages
        </div>
        <div class="s-pay__i">
            Unlimited registered attendees
        </div>
        <div class="s-pay__i">
            No payments for canceled events
        </div>
        <div class="s-pay__i">
            Personal support
        </div>
    </div>
    <a class="link-blue s-pay__toggle" href="#" data-toggle-features>
        <span class="more">More features</span>
        <span class="less">Less features</span>
    </a>
</div>

<div class="s-pay type-highlighted">
    <div class="s-pay__head">
        <div class="s-pay__title">
            PROFESSIONAL
        </div>
        <div class="s-pay__price">
            <span>€79</span> / month
        </div>
        <a class="s-pay__btn btn" href="https://app.workshopbutler.com/register">
            GET PROFESSIONAL
        </a>
        <div class="s-pay__hint">
            Ideal for active trainers
        </div>
    </div>

    <div class="s-pay__feature">
        <div class="s-pay__i">4 paid events per month</div>
        <div class="s-pay__i">Unlimited additional events for €39 each</div>
        <div class="s-pay__i">Easy Collaboration with other Trainers</div>
        <div class="s-pay__i">
            <a class="link-blue" href="https://workshopbutler.com/integration" target="_blank">
                Custom website integration
            </a>
        </div>
    </div>
    <div class="s-pay__other">
        <div class="s-pay__other-title">
            Also all these features:
        </div>
        <div class="s-pay__i">
            Unlimited non-commercial events
        </div>
        <div class="s-pay__i">
            Workshop lifecycle automation
        </div>
        <div class="s-pay__i">
            Slack & MailChimp integration
        </div>
        <div class="s-pay__i">
            Help center
        </div>
        <div class="s-pay__i">
            Built-in event, registration and evaluation pages
        </div>
        <div class="s-pay__i">
            Unlimited registered attendees
        </div>
        <div class="s-pay__i">
            No payments for canceled events
        </div>
        <div class="s-pay__i">
            Advanced technical support
        </div>
    </div>
    <a class="link-blue s-pay__toggle" href="#" data-toggle-features>
        <span class="more">More features</span>
        <span class="less">Less features</span>
    </a>
</div>

<div class="s-pay">
    <div class="s-pay__head">
        <div class="s-pay__title">
            PREMIUM
        </div>
        <div class="s-pay__price">
            <span>€199</span> / month
        </div>
        <a class="s-pay__btn btn" href="https://app.workshopbutler.com/register">
            GET PREMIUM
        </a>
        <div class="s-pay__hint">
            Perfect for super-busy trainers
        </div>
    </div>

    <div class="s-pay__feature">
        <div class="s-pay__i">8 paid events per month</div>
        <div class="s-pay__i">Unlimited additional events for €39 each</div>
        <div class="s-pay__i">
            <a class="link-blue s-pay__i-link" href="/integration" target="_blank">
                Custom website integration
            </a>
        </div>
    </div>
    <div class="s-pay__other">
        <div class="s-pay__other-title">
            Also all these features:
        </div>
        <div class="s-pay__i">
            Unlimited non-commercial events
        </div>
        <div class="s-pay__i">
            Workshop lifecycle automation
        </div>
        <div class="s-pay__i">
            Slack & MailChimp integration
        </div>
        <div class="s-pay__i">
            Help center
        </div>
        <div class="s-pay__i">
            Built-in event, registration and evaluation pages
        </div>
        <div class="s-pay__i">
            Unlimited registered attendees
        </div>
        <div class="s-pay__i">
            No payments for canceled events
        </div>
        <div class="s-pay__i">
            Priority premium support
        </div>
        <div class="s-pay__i">
            ‘All you need and more’ package
        </div>
    </div>
    <a class="link-blue s-pay__toggle" href="#" data-toggle-features>
        <span class="more">More features</span>
        <span class="less">Less features</span>
    </a>
</div>
