

[data-help] {
  color: #777777;
  border-bottom:1px dashed #777777;
}

.b-toolhelp {
  display: none;
  position: absolute;
  left: 100%;
  width: 205px;
  box-shadow: 0 0 4px rgba(0,0,0, .2);
  padding: 7px 10px 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  font-weight: normal;
  z-index: 1000;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #27200E;

  .title {
    font-weight: bold;
    margin-bottom: 5px;
    padding-right: 20px;
  }
}

.b-toolhelp__close {
  position: absolute;
  right: 7px;
  top: 5px;
  width: 20px;
  height: 20px;
  opacity: .6;
  .transition(all .15s ease);

  &:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    background: url("/img/site/icon-close-sm.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  &:hover {
    opacity: 1;
  }
}

.b-toolhelp_state_right {
  position: absolute;
  margin-left: 10px;
  .transform(translate(0, -50%));

  &:before {
    content: '';
    left: -7px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    .triangle(7px, 14px, #ddd, 'left');
  }

  &:after {
    content: '';
    left: -6px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    .triangle(6px, 12px, #fff, 'left');
  }
}

.b-toolhelp_show {
  display: block;
  opacity: 1;
  visibility: visible;
}