
.s-pay {
  position: relative;
  display: block;
  box-sizing: border-box;
  float: left;
  width: 25%;
  min-height: 843px;
  padding: 33px 42px 30px;
  .transition(all .15s ease);
  border-radius: 4px;
  background-color: #ffffff;

  &.type-highlighted {
    box-shadow: 0 0 4px rgba(0,0,0, .2);
    z-index: 2;
  }
}

.s-pay__title {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1;
  margin-bottom: 12px;
}

.s-pay__price {
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 17px;
  text-align: center;

  span {
    font-size: 36px;
  }
}

.s-pay__btn {
  box-sizing: border-box;
  width: 100%;
  padding: 13px 15px 14px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1;
  color: #6dc6dd !important;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0,0,0, .2);

  &:hover {
    background-color: #6dc6dd;
    color: #ffffff !important;
    box-shadow: none;
  }
}

.s-pay__hint {
  min-height: 40px;
  margin-bottom: 10px;
  color: #777777;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  text-align: center;
}

.s-pay__feature {
  position: relative;
  min-height: 114px;
  padding-bottom: 8px;
  margin-bottom: 11px;
  border-bottom: 2px solid #f2f2f2;
}

.s-pay__i {
  text-align: left;
  line-height: 23px;
  position: relative;
  margin-bottom: 8px;
  color: #333333;

  &:before {
    content: '';
    position: absolute;
    left: -11px;
    top: 9px;
    width: 3px;
    height: 3px;
    border: 1px solid #b3b2b3;
    border-radius: 6px;
  }
}

.s-pay__other-title {
  font-size: 14px;
  color: #777777;
  line-height: 1;
  margin-bottom: 13px;
}

.s-pay__toggle {
  display: none;

  .less {
    display: none;
  }
}

// state
.s-pay_state_more {
  .s-pay__toggle {
    .more {
      display: none;
    }

    .less {
      display: inline;
    }
  }

  .s-pay__other {
    display: block;
  }
}

.integ-pricing {
  .s-pay_type_free {
    display: none;
  }

  .s-pay {
    min-height: 750px;
    width: 33%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .s-pay__hint {
    min-height: 30px;
  }

  .s-pay__i-link {
    text-decoration: none !important;
    border-bottom: none !important;
    color: #27200e !important;
    font-weight: bold;
  }
}


@media screen and (max-width: @site-large) {
  .s-pay {
    padding: 32px 25px 30px;
    min-height: 910px;
  }

  .s-pay__btn {
    padding-left: 5px;
    padding-right: 5px;
  }

  .integ-pricing {
    .s-pay {
      min-height: 890px;
      padding-right: 42px;
      padding-left: 42px;
    }

    .s-pay__hint {
      min-height: 40px;
    }
  }
}

@media screen and (max-width: @site-middle) {
  .s-pay {
    display: inline-block;
    vertical-align: top;
    min-height: 385px !important;
    margin: 0 10px 40px;
    padding-right: 42px;
    padding-left: 42px;
    float: none;
    width: 300px !important;
    text-align: left;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      bottom: -20px;
      height: 2px;
      background-color: #f2f2f2;
    }
  }

  .s-pay__hint {
    margin-bottom: 16px;
  }

  .s-pay__toggle {
    display: inline-block;
  }

  .s-pay__other {
    display: none;
  }

  .s-pay__feature {
    min-height: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .s-pay__other-title {
    display: none;
  }

}

@media screen and (max-width: 680px) {
  .s-pay {
    min-height: 0 !important;
  }
}

@media screen and (max-width: 350px) {
  .s-pay {
    width: 250px !important;
  }
}
