
.price-tabs {
  margin: 0 -30px 91px;
}

.price-tabs__head {
  text-align: center;
  margin-bottom: 42px;
}

.price-tabs__i {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 15px;
  padding: 0 15px;
  min-width: 62px;
  text-align: center;
  height: 30px;
  line-height: 28px;
  color: #27200e !important;
  text-decoration: none !important;
  .transition(all .15s ease);

  &:hover {
    color: #666666 !important;
  }

  .hint {
    position: absolute;
    right: 100%;
    top: 0;
    color: #f6416c !important;
    min-width: 120px;
  }

  &.state-active {
    background-color: #F6416C;
    color: #ffffff !important;
    opacity: 1 !important;
    cursor: default;

    .hint {
      display: none;
    }
  }
}

.price-tabs__list {
  .clearfix();
}

.integ-pricing {
  .price-tabs__head {
    margin-bottom: 29px;
  }
}

@media screen and (max-width: @site-large) {
  .price-tabs__head {
    margin-bottom: 23px;
  }
}

@media screen and (max-width: @site-middle) {
  .price-tabs__head {
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 23px;
  }

  .price-tabs {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .price-tabs__i .hint {
    display: none !important;
  }
}


