---
title: "Certificate & License Providers"
date: 2018-10-03T14:28:36+03:00
draft: false
layout: "unique"
url: "certification"
---

<!-- Inline style for adjustments. Old code for old pages affects new clean ones -->
<style media="screen">
    div.body { padding : 0 }
</style>

<div class="page-certification">
  <header class="s-center header-1">
    <div class="hd1-inner">
      <h1>Certificates & Badges</h1>
      <div class="hd1-description">
        <p>Certificates and badges are a de-facto standard of competence in a training industry. Many students expect to get a certificate after a workshop. Trainers also like to show their badges on their websites as proof of their expertise.</p>
        <p><b>Workshop Butler helps you to meet these expectations without any effort.</b></p>
      </div>
    </div>
  </header>
  <section class="cb-sections">
    <div class="s-center">
      <div class="c-col">
        <div class="img-container bg-50-y">
          <img src="/img/site/certificate/certificates-generation.png" alt="Automatic generation of certificates">
        </div>
        <div class="description grey-bg">
          <h2>Automatic generation of certificates</h2>
          <p>After you add a certificate template to your brand, Workshop Butler generates and sends the certificates to attendees of paid events. To enable this, all a trainer needs to do is to approve an evaluation or click the “Generate Certificate” link in their account.</p>
        </div>

        <div class="description grey-bg">
          <h2>Fully customisable certificates</h2>
          <p>The design and content of certificates are limited only by your imagination. Any information available at the moment of certification generation can be added to them: names of attendees and trainers, workshop title, dates and type of workshop, signatures of trainers, and more.</p>
        </div>

      </div>
      <div class="c-col">
        <div class="img-container bg-50-y">
          <img src="/img/site/certificate/badges-generation.png" alt="Badges for trainers">
        </div>
        <div class="description grey-bg">
          <h2>Badges for trainers</h2>
          <p>Badges are a great way to distinguish one trainer from another and help potential students choose the right trainer for their needs.</p>
          <p>As a brand owner, you define the rules of how badges must be earned. Designed correctly, badges become a hallmark of distinction that accelerates the learning and practice sharing inside the community.</p>
          <p>In Workshop Butler, you have an unlimited number of badges you can assign to your trainers.</p>
        </div>
      </div>
    </div>
  </section>
</div>
