---
title: "Collaboration"
date: 2018-10-08T15:04:36+03:00
draft: false
layout: "unique"
url: "collaboration"
---

<!-- Inline style for adjustments. Old code for old pages affects new clean ones -->
<style media="screen">
    div.body { padding : 0 }
</style>

<div class="page-collaboration">
  <header>
    <div class="s-center">
      <h1>Collaboration</h1>
      <div class="description">
        <p>Workshop Butler is intrinsically different from most training management solutions. It embraces a high degree of interconnectedness among different trainers who can collaborate to share ideas or jointly conduct the workshops.</p>
        <p>
          <span>In Workshop Butler, flexibility is the key to sourcing the best talent for a given assignment. This means that training companies can hire trainers and facilitators to run entire workshops or invite them for a one-time gig.</span>
          <span>Individual trainers can join forces to experiment and learn together, and then split again to continue their own practice. Brands and certification bodies can also license trainers to run certified workshops, while actively promoting them on their websites.</span>
        </p>
        <p><b>And in this fluid reality Workshop Butler helps them to thrive!</b></p>
      </div>
    </div>
  </header>
  <section class="one-account">
    <div class="s-center">
      <header>
        <h2>One Account</h2>
        <p>Central to this platform is the concept of account. There are three types of accounts available: individual trainers, training companies or brands, and certification bodies. Certification bodies endorse attendees’ participation by issuing certificates of attendance, or a trainer’s competence in the form of a badge. Each trainer, company or brand has only one account (think of LinkedIn). Thanks to Workshop Butler, all can work together effectively.</p>
        <div class="bottom-arrow"></div>
      </header>
      <div class="content">
        <div class="oc-row">
          <div class="oc-col-icons">
            <i class="business-woman"></i>
            <i class="plus"></i>
            <i class="business-building"></i>
          </div>
          <div class="oc-col-text">
            <h3>Trainers & Training Companies</h3>
            <p>Here’s how the system works. Managers of training companies can invite trainers to conduct specific workshops either as in-house employees or external facilitators.</p>
            <p>In the former case, managers take full control of the trainer's online account. They can update their profile, change their bio, manage testimonials, and many more. It’s a perfect arrangement for a company which employs many trainers and needs several managers to coordinate the administrative functions.</p>
            <p>In the latter case, managers can only add and manage workshops run by external facilitators. These facilitators are still in full control of their accounts and are free to conduct other training outside of the company. This is the right choice when your company invites a trainer to run a one-time course, or the company itself is a network of trainers.</p>
          </div>
        </div>
        <div class="oc-row">
          <div class="oc-col-icons">
            <i class="business-man"></i>
            <i class="plus"></i>
            <i class="registered-trademark"></i>
          </div>
          <div class="oc-col-text">
            <h3>Trainers & Brands</h3>
            <p>Certification bodies can also license trainers to run licensed workshops. When a trainer obtains a license, their account gets connected to the brand and their profile is visible in the list of licensed trainers/facilitators. When a new licensed workshop is added, it becomes available on the trainer’s website as well as the brand's website.</p>
            <p>Working with several brands is as comfortable as working with one. You have just one account where you manage all your workshops, either through the brand or your own.</p>
          </div>
        </div>
        <div class="oc-row">
          <div class="oc-col-icons">
            <i class="business-woman"></i>
            <i class="plus"></i>
            <i class="business-man"></i>
          </div>
          <div class="oc-col-text">
            <h3>Trainers & Trainers</h3>
            <p>As an individual trainer, you may see the value of occasionally collaborating with other trainers for maximum effectiveness. For example, you may want to run a workshop jointly, or organize a program for a well-known associate.</p>
            <p>Workshop Butler allows you to do both. Both you and your collaborator will have full control of the workshops, and they will be visible on both your websites at once.</p>
          </div>
        </div>
      </div>
  </section>
</div>
