---
title: "Communication with Attendees"
date: 2018-10-09T2:29:36+03:00
draft: false
layout: "unique"
url: "communication-with-attendees"
---

<!-- Inline style for adjustments. Old code for old pages affects new clean ones -->
<style media="screen">
    div.body { padding : 0 }
</style>

<div class="page-communication-w-a">
  <header class="s-center header-1">
    <div class="hd1-inner">
      <h1>Communication with Attendees</h1>
      <div class="hd1-description">
        <p>Communication with attendees is an essential part of any workshop. Talking with them during a course is one side of it. But interaction via email, phone and chats is a very different side which comes with several challenges.</p>
        <p>You would certainly want to spend as little time as possible having to deal with frequently asked questions and providing pre-/post-course materials customized to their learning needs. At the same time, it is essential to maintain a personal touch and respond with specific information at the right moment.</p>
        <p><b>Workshop Butler helps to overcome communication challenges with ease.</b></p>
      </div>
    </div>
  </header>
  <section class="email-automation">
    <div class="s-center">
      <header>
        <h2>Email Automation</h2>
      </header>
      <div class="content">
        <div class="description">
          <h3>Welcome Email</h3>
          <p>When new students register for your event, it is good practice to send out a confirmatory message that the registration was successful. This message can contain additional information about the venue, links to some materials, or a survey.</p>
        </div>
        <div class="img-container">
          <img src="/img/site/communication-with-attendees/edit-welcome-email.png" class="box-shadow" alt="Welcome Email">
        </div>
      </div>
    </div>
  </section>
  <section class="reminder">
    <div class="s-center">
      <div class="left-side">
        <div>
          <i class="notification"></i>
        </div>
        <div>
          <i class="bell"></i>
        </div>
        <div>
          <i class="bell"></i>
        </div>
        <div>
          <i class="messages"></i>
        </div>
        <div>
          <i class="messages"></i>
        </div>
        <div>
          <i class="notification"></i>
        </div>
      </div>
      <div class="description">
        <h3>Reminder</h3>
        <p>Have you ever tried to locate a message in your mailbox which contained the venue for an event you registered for a couple of weeks ago? We all know how frustrating and time-consuming this can be.</p>
        <p>This is why Workshop Butler sends a reminder to attendees **one day** before the workshop. All you need do as the organizer is to add the details on how to find a training room, and what to bring with you. Your students will be thrilled!</p>
      </div>
      <div class="right-side">
        <div>
          <i class="notification"></i>
        </div>
        <div>
          <i class="bell"></i>
        </div>
        <div>
          <i class="bell"></i>
        </div>
        <div>
          <i class="messages"></i>
        </div>
        <div>
          <i class="messages"></i>
        </div>
        <div>
          <i class="notification"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="follow-up-emails">
    <div class="s-center">
      <div class="img-container">
        <img src="/img/site/communication-with-attendees/edit-follow-up-email.png" class="box-shadow" alt="Follow Up Email">
      </div>
      <div class="description">
        <h3>Follow-up Emails</h3>
        <p>By collecting feedback, you can significantly improve the organizational aspect of your workshops as well as your content and training methods. Feedback also gives you good material for <a class="link-blue" href="http://localhost:8080/evaluations-and-ratings/">testimonials and ratings</a>.</p>
        <p>Workshop Butler sends up to three requests to attendees to complete their evaluation. Once an evaluation is completed, attendees won't have to be nudged anymore.</p>
      </div>
    </div>
  </section>
  <section class="post-event-email">
    <div class="s-center">
      <div class="icon-container">
        <i></i>
      </div>
      <div class="description">
        <h3>Post-event Email</h3>
        <p>A workshop is over, and it’s time to send the attendees their certificates of attendance and follow-up materials. Do it with one click! Workshop Butler sends a post-event email with attached certificate the moment you approve an evaluation or click the “Generate Certificate” link.</p>
      </div>
    </div>
  </section>
  <section class="config-personalization">
    <div class="s-center">
      <header>
        <h2>Easy Configuration and Personalisation</h2>
      </header>
      <div class="img-container">
        <img src="/img/site/communication-with-attendees/compose-email.png" class="box-shadow" alt="Form to compose email">
      </div>
      <div class="cp-col">
        <h3>Email Templates</h3>
        <p>Thanks to our email templates, you can create an email message just once, and use it for different workshops. Workshop Butler replaces the email tags with appropriate details, like title of event, or name of attendee.</p>
      </div>
      <div class="cp-col">
        <h3>Manual Messages to Attendees</h3>
        <p>There are multiple occasions when you may need to send notifications to your students regarding, for instance, change of location or start time, workshop cancellation, new instructions, payment reminders – you name it!</p>
        <p>In Workshop Butler, you can send a personal message to all or selected attendees with just a few clicks.</p>
      </div>
      <div class="cp-col">
        <h3>Support for Multiple Languages</h3>
        <p>Your attendees speak German, Spanish, French, Portuguese, or other languages? We’ve got you covered. We have default email templates available in 7 languages. If your language happens to be missing, it’s easy to fix. What’s more, you can edit any email you send to attendees.</p>
      </div>
    </div>
  </section>
</div>
