---
title: "Evaluations & Ratings"
date: 2018-10-06T15:04:36+03:00
draft: false
layout: "unique"
url: "evaluations-and-ratings"
---

<!-- Inline style for adjustments. Old code for old pages affects new clean ones -->
<style media="screen">
    div.body { padding : 0 }
</style>
<div class="page-evaluations-rating">
  <header class="s-center header-1">
    <div class="hd1-inner">
      <h1>Evaluations & Ratings</h1>
      <div class="hd1-description">
        <p>As a participant, you would certainly want to learn more about a trainer before joining a workshop, so you read the testimonials and check how other students rated the trainer. As a trainer, you would want to collect and post feedback easily on your main website and other websites. And as a brand owner or a training company manager, you would want to see how good your workshops and trainers are, and use this information for promotion and constant improvement.</p>
        <p><b>To respond to these various needs, Workshop Butler has a built-in evaluation and rating module.</b></p>
      </div>
    </div>
  </header>
  <section class="collect">
    <div class="s-center">
      <header>
        <h1>Collect</h1>
      </header>
      <div class="c-content">
        <div class="c-col img-container">
          <img src="/img/site/evaluations-and-ratings/evaluation-submit-form.png"></img>
        </div>
        <div class="c-col img-container">
          <img src="/img/site/evaluations-and-ratings/evaluation-request-form.png"></img>
        </div>
        <div class="c-col">
          <div class="description">
            <h2>Hosted Evaluation Forms</h2>
            <p>Thanks to our hosted evaluation forms, you can collect feedback instantly, without needing additional steps. Each event has its own evaluation form. When your student completes and sends an evaluation, it is attached to the event. You can always get back to it for another look, along with evaluations from other students.</p>
          </div>
        </div>
        <div class="c-col">
          <div class="description">
            <h2>Integrated Evaluation Forms</h2>
            <p>Workshop Butler API allows you to collect feedback directly from your website. You define the look; we take care of the storage and management.</p>
          </div>
        </div>
        <div class="c-col">
          <div class="description">
            <h2>Manual and Automated Evaluation Requests</h2>
            <p>While creating an event, you can order Workshop Butler to send automated evaluation requests to all participating students when the event is over. You can change the content of the request, or send a manual one to the participants who haven't responded yet.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="manage">
    <div class="s-center">
      <header>
        <h1>Manage</h1>
      </header>
      <div class="erm-section-1">
        <div class="img-container">
          <img src="/img/site/evaluations-and-ratings/evaluation-form-settings.png" class="box-shadow" alt="Evaluation Form Settings">
        </div>
        <div class="description">
          <h2>Customisable Evaluation Forms</h2>
          <p>Built-in forms come with 10 predefined questions. Only three of them are used for statistics and cannot be modified. You can switch off the others, or make them optional for the convenience of your students.</p>
        </div>
      </div>
      <div class="erm-section-2">
        <div class="erms-2-col">
          <h2>Notifications and Dashboard</h2>
          <p>When a new evaluation appears, you’ll get a notification via email. With a couple of clicks, you can check and approve it. All pending evaluations are visible on the dashboard, so it's very easy to act on them.</p>
        </div>
        <div class="erms-2-col">
          <h2>Instant Testimonials</h2>
          <p>You read an evaluation and think it would be a good thing to show it to your potential clients? Click “Create Testimonial” and it’s instantly added to your profile, together with the rating. All websites, which are integrated with Workshop Butler and have an access to your profile, will then show an updated version of it.</p>
        </div>
        <div class="erms-2-col">
          <h2>Certificates Generation</h2>
          <p>If a knowledge brand has a certificate of attendance, certificates for the attendees are generated and sent to them as soon as the trainer approves their evaluations. </p>
        </div>
      </div>
    </div>
  </section>
  <section class="promote">
    <div class="s-center">
      <header>
        <h1>Promote</h1>
      </header>
      <div class="erp-content">
        <div class="p-col">
          <div class="img-container bg-50-y">
            <img src="/img/site/evaluations-and-ratings/woman-profile.png" alt="Trainer Profile">
          </div>
          <div class="description">
            <h2>Detailed statistics for every trainer</h2>
            <p>Workshop Butler stores, calculates, and delivers via API a number of different parameters: average rating, median, NPS, detailed scores. Show to your visitors as much data as you need.</p>
          </div>
        </div>
        <div class="p-col">
          <div class="description">
            <h2>Separate ratings for public and private workshops</h2>
            <p>It’s no secret that people rate public and private workshops differently. We take this into account and calculate two ratings for trainers: one for public and one for private events. The ratings are available in the trainer profile. Use them for promotions alongside your testimonials.</p>
          </div>
        </div>
        <div class="p-col">
          <div class="img-container bg-50-y">
            <img src="/img/site/evaluations-and-ratings/chart.png" alt="Rating chart">
          </div>
          <div class="description">
            <h2>High-level view</h2>
            <p>Check how your brand evolves in different countries, and compare NPS and ratings for any period of time. And if you should launch a new course and want to see how it’s doing, just filter the results by its type.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
