---
title: "Fees for Licensed Events"
date: 2018-10-04T17:00:36+03:00
draft: false
layout: "unique"
url: "fees-for-licensed-events"
---

<!-- Inline style for adjustments. Old code for old pages affects new clean ones -->
<style media="screen">
    div.body { padding : 0 }
</style>

<div class="page-fees-licensed-events">
  <header class="s-center header-1">
    <div class="hd1-inner">
      <h1>Fees for Licensed Events</h1>
      <div class="hd1-description">
        <p>Whether you are a brand or a certificate body, the fees for licensed events are probably a major source of your revenue. It is common to charge an event fee for each paid workshop, either for using official learning materials, for promotion, or for licensing the attendees.</p>
        <p>The calculation of fees for licensed events can be a daunting task, especially when you have more than a handful of events per month. The final fee usually depends on the number of hours or number of attendees. In some cases, it varies from region to region. As a result, the process is tedious and prone to error.</p>
        <p><b>This process is seamless with Workshop Butler, and you forget about the nightmare forever.</b></p>
      </div>
    </div>
  </header>

  <section class="list-1">
    <div class="s-center">
      <div class="li1-row">
        <div class="li1-col">
          <i class="coins"></i>
          <h3>Three types of fees</h3>
          <p>Do you charge per event? Or number of attendees? Or by the hour? No problem. Just select the type you need. The fees for completed events are then calculated automatically. </p>
        </div>
        <div class="li1-col">
          <i class="globe"></i>
          <h3>Support for regional fee variations</h3>
          <p>Workshops in Switzerland cost more than workshops in India. It makes sense to charge trainers more as well. Set different prices for different countries or for online events. </p>
        </div>
      </div>
      <div class="li1-row">
        <div class="li1-col">
          <i class="price-tag"></i>
          <h3>Frictionless price update</h3>
          <p>Increase or decrease your fees with a couple of clicks. The fees for all scheduled events are then recalculated automatically.</p>
        </div>
        <div class="li1-col">
          <i class="informative"></i>
          <h3>Informative Dashboard</h3>
          <p>All licensed events without invoices are visible on the dashboard. You’ll never forget to charge for the event again!</p>
        </div>
      </div>
    </div>
  </section>
</div>
