---
title: "License management"
date: 2018-10-05T01:37:36+03:00
draft: false
layout: "unique"
url: "license-management"
---

<!-- Inline style for adjustments. Old code for old pages affects new clean ones -->
<style media="screen">
    div.body { padding : 0 }
</style>

<div class="page-license-management">
  <header class="s-center header-1">
    <div class="hd1-inner">
      <h1>License Management</h1>
      <div class="hd1-description">
        <p>Know in advance which licenses are expiring, why people decided to leave, and which are being renewed. With our fully automated license renewal process, you spend hardly any time on related administrative tasks.</p>
      </div>
    </div>
  </header>
  <section class="statistics">
    <div class="s-center">
      <div class="img-container">
        <img src="/img/site/license-management/smart-statistics.png" class="box-shadow" alt="Trainer Statistics">
      </div>
      <div class="description">
        <h3>Smart Statistics for Immediate Actions</h3>
        <p>Check in seconds how many trainers you have, who left the last month and who has joined this month.</p>
      </div>
    </div>
  </section>
  <section class="performance">
    <div class="s-center">
      <div class="p-text">
        <h2>Year-to-year Performance</h2>
        <p>See a month-to-month and year-to-year growth</p>
      </div>
      <div class="p-chart-1">
        <img src="/img/site/license-management/performance-chart.png" class="box-shadow"  alt="Chart of trainers">
      </div>
      <div class="p-chart-2">
        <img src="/img/site/license-management/performance-chart-2.png" class="box-shadow" alt="Account Overview">
      </div>
      <div class="p-chart-3">
        <img src="/img/site/license-management/performance-chart-3.png" alt="">
      </div>
    </div>
  </section>
  <section class="list-1">
    <div class="s-center">
      <div class="li1-row">
        <div class="li1-col">
          <i class="copyright"></i>
          <h3>License Renewal Reminders</h3>
          <p>Trainers get up to five reminders that their license are about to expire, the first, one month before, and the last, the day after the expiration. The reminders are customizable, and you can insert any motivational message in them.</p>
        </div>
        <div class="li1-col">
          <i class="list"></i>
          <h3>List of expiring licences</h3>
          <p>Thanks to the widget with expiring and expired licenses on the dashboard, you always keep a finger on the pulse of what is going on with renewals. You can see who decided to keep their licenses active and who decided to leave and why.</p>
        </div>
      </div>
      <div class="li1-row">
        <div class="li1-col">
          <i class="user-x"></i>
          <h3>Automatic off-boarding process</h3>
          <p>When a license expires, the trainer instantly loses the ability to create licensed workshops. Their profile disappears from the brand's website and all scheduled events. They even get unsubscribed from the MailChimp.</p>
        </div>
        <div class="li1-col">
          <i class="email"></i>
          <h3>Automatic Renewal and Rejection</h3>
          <p>Each reminder contains a link which follows trainers to a renewal screen. They can either accept or reject the renewal. In the latter case, they need to provide the reason for terminating their licenses.</p>
          <p>At the end, you will get an email notification with the detailed information about the trainer's decision, so you can act accordingly.</p>
        </div>
      </div>
    </div>
  </section>
</div>
