---
title: "Statistics and reports"
date: 2018-10-04T17:00:36+03:00
draft: false
layout: "unique"
url: "statistics-and-reports"
---

<!-- Inline style for adjustments. Old code for old pages affects new clean ones -->
<style media="screen">
    div.body { padding : 0 }
</style>

<div class="page-stats-and-reports">
  <header class="s-center header-1">
    <div class="hd1-inner">
      <h1>Statistics and Reports</h1>
      <div class="hd1-description">
        <p>Statistics help you to make the right decisions and keep an eye on
          growth. Providing you with numerous charts and detailed data,
          <b>Workshop Butler is the right tool for any training business.</b></p>
      </div>
    </div>
  </header>
  <section>
    <div class="s-center">
      <h2>Know your trainers</h2>
      <img src="/img/site/statistics-and-reports/facilitators.png" class="box-shadow" alt="List of trainers">
    </div>
  </section>
  <section>
    <div class="s-center">
      <h2>Analyse the growth</h2>
      <p>With hard data in hand, you know for sure the rate of growth in all the relevant areas of your business such as trainers, attendees, events and income.</p>
      <img src="/img/site/statistics-and-reports/analyse-growth.png" class="box-shadow" alt="Account overview">
    </div>
  </section>
  <section>
    <div class="s-center">
      <h2>Workshops at your finger tips</h2>
      <p>Compare which types of events are the most successful and in which countries.</p>
      <img src="/img/site/statistics-and-reports/events.png" class="box-shadow" alt="Event statistics">
    </div>
  </section>
  <section>
    <div class="s-center">
      <h2>Track the income</h2>
      <p>Learn which workshops and countries bring you the most revenue, and which markets are growing.</p>
      <img src="/img/site/statistics-and-reports/income.png"  class="box-shadow" alt="Income ">
    </div>
  </section>
  <section>
    <div class="s-center">
      <h2>Trainers month-by-month</h2>
      <p>Trainers do leave from time to time. That’s okay as long as the number of those who joined is bigger than those who left. </p>
      <img src="/img/site/statistics-and-reports/trainers.png" class="box-shadow" alt="Trainer Statistics">
    </div>
  </section>
</div>
