---
title: "Workshop Management"
date: 2018-10-09T16:47:36+03:00
draft: false
layout: "unique"
url: "workshop-management"
---

<!-- Inline style for adjustments. Old code for old pages affects new clean ones -->
<style media="screen">
    div.body { padding : 0 }
</style>

<div class="page-workshop-management">
  <header class="s-center header-1">
    <div class="hd1-inner">
      <h1>Workshop Management</h1>
      <div class="hd1-description">
        <p>Good workshop management is imperative for any training software. Workshop Butler has many powerful features for making the process of working with events a breeze.</p>
      </div>
    </div>
  </header>
  <section class="events-management">
    <div class="s-center">
      <div class="content">
        <div class="em-col">
          <div class="img-container bg-50-y">
            <img src="/img/site/workshop-management/duplicate-event.png" alt="Duplicate Workshop Widget">
          </div>
          <div class="description grey-bg">
            <h3>Fast Event Duplication</h3>
            <p>Duplicate any event with just one click from the events page. The five most recent events are always available at the top menu.</p>
          </div>
          <div class="description">
            <h3>Custom Registration Forms</h3>
            <p>Select from the number of pre-defined fields, or add new ones. Stay GDPR compliant with new GDPR consent fields.</p>
          </div>
        </div>
        <div class="em-col">
          <div class="description">
            <h3>Hosted Event Pages</h3>
            <p>For each event, there is one hosted page with a workshop description and registration form and another hosted page with an evaluation form. The time between your adding a workshop and starting to promote it on the social media is just a matter of seconds.</p>
          </div>
        </div>
        <div class="em-col">
          <div class="img-container bg-50-y">
            <img src="/img/site/workshop-management/work-with-other-trainers.png" alt="">
          </div>
          <div class="description grey-bg">
            <h3>Work with other trainers</h3>
            <p>From time to time you may co-facilitate workshops with other trainers. Add as many trainers as needed to a new workshop.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="website-integration">
    <div class="s-center">
      <div class="content">
        <div class="description">
          <h2>Website Integration</h2>
          <p>Make your brand stronger by promoting workshops and accepting registrations right from a website. Configure and install website integration widgets in a few minutes. No technical skills are required.
            <br><a class="link-blue" href="/integration">Learn More</a></p>
        </div>
        <div class="img-container">
          <img src="/img/site/workshop-management/website-integration.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="other-benefits">
    <div class="s-center">
      <div class="ob-col">
        <div class="img-container bg-50-y">
          <img src="/img/site/workshop-management/detailed-statistics.png" alt="">
        </div>
        <div class="description grey-bg">
          <h3>Detailed Statistics</h3>
          <p>Review your progress with detailed statistics on events, ratings, attendees and income.</p>
        </div>
        <div class="description grey-bg">
          <h3>Generate Certificates with One Click</h3>
          <p>Workshop Butler sends certificates of attendance to students when you approve their evaluations. If there is no evaluation, just click "Generate Certificate" and just the email message with an attached certificate is on its way.</p>
        </div>
      </div>
      <div class="ob-col">
        <div class="img-container bg-50-y">
          <img src="/img/site/workshop-management/import-attendees.png" alt="">
        </div>
        <div class="description grey-bg">
          <h3>Import Attendees</h3>
          <p>Import attendees to a workshop from the CSV file. All fields, including tickets, consents and custom fields are supported.</p>
        </div>
        <div class="description grey-bg">
          <h3>Export Attendees</h3>
          <p>Export personal and billing info, evaluation data and ratings for all event attendees in one go.</p>
        </div>
        <div class="description grey-bg">
          <h3>Team Members</h3>
          <p>Add assistants or administrators, and let them manage your workshops.</p>
        </div>
      </div>
      <div class="ob-col">
        <div class="img-container bg-50-y">
          <img src="/img/site/workshop-management/customisable-automated-emails.png" alt="">
        </div>
        <div class="description grey-bg">
          <h3>Customisable Automated Emails</h3>
          <p>Attendees get several customizable emails at different points before and after the event. Personalize them by adding that extra touch, so attendees feel cared for. <a href="https://medium.com/workshop-butler/automated-email-messages-f87f6af318d0" class="link-blue" target="_blank">Learn more</a> </p>
        </div>
        <div class="description grey-bg">
          <h3>Automated Actions</h3>
          <p>Add attendees to MailChimp lists and Slack workspaces automatically. Create invoices, export to Google Sheets and do a myriad of other things by connecting your account with Zapier.</p>
        </div>
      </div>
    </div>
  </section>
</div>
