{{ define "main"}}
  <div class="body">
    <div class="s-head-info">
        {{ partial "header" . }}
        <div class="s-head-info__title">
            Page not found
        </div>
    </div>
  </div>
 </div>
{{ end }}
