{{ define "main" }}
{{ partial "header" . }}

    <div class="s-main">
        <div class="sm-welcome js-video-popup">
            <div class="s-center">
                <h1 class="sm-welcome__title">
                    Essential workshop management tools for productive trainers and teachers
                </h1>
                <a href="https://app.workshopbutler.com/register" class="sm-welcome__btn-try">
                    Try now
                </a>
                <a href="#" class="sm-welcome__btn-video" data-video-show>
                    <i class="icons-video"></i>
                    Watch video
                </a>
            </div>

            <div class="sm-popup " data-video-popup>
                <div class="sm-popup__bg" data-video-close></div>
                <div class="sm-popup__content">
                    <div class="sm-popup__inner" data-video-con></div>
                    <a href="#" class="sm-popup__close" data-video-close></a>
                </div>

                <script type="text/template" id="video-iframe">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/6_IuTsiqQOE?autoplay=1" frameborder="0" allowfullscreen></iframe>

                </script>
            </div>

            <div class="sm-welcome__bg welcome-bg">
                <div class="welcome-bg__col type-1">
                    <div class="welcome-bg__i type-1"></div>
                    <div class="welcome-bg__i type-2"></div>
                </div>
                <div class="welcome-bg__col type-2">
                    <div class="welcome-bg__i type-3"></div>
                    <div class="welcome-bg__i type-4"></div>
                </div>
                <div class="welcome-bg__col type-3">
                    <div class="welcome-bg__i type-5"></div>
                </div>
                <div class="welcome-bg__col type-4">
                    <div class="welcome-bg__i type-6"></div>
                    <div class="welcome-bg__i type-7"></div>
                </div>
                <div class="welcome-bg__col type-5">
                    <div class="welcome-bg__i type-8"></div>
                    <div class="welcome-bg__i type-9"></div>
                </div>
                <div class="welcome-bg__col type-6">
                    <div class="welcome-bg__i type-10"></div>
                    <div class="welcome-bg__i type-11"></div>
                    <div class="welcome-bg__i type-12"></div>
                </div>
                <div class="welcome-bg__col type-7">
                    <div class="welcome-bg__i type-13"></div>
                    <div class="welcome-bg__i type-14"></div>
                    <div class="welcome-bg__i type-15"></div>
                </div>
                <div class="welcome-bg__col type-8">
                    <div class="welcome-bg__i type-16"></div>
                    <div class="welcome-bg__i type-17"></div>
                    <div class="welcome-bg__i type-18"></div>
                </div>
                <div class="welcome-bg__col type-9">
                    <div class="welcome-bg__i type-19"></div>
                    <div class="welcome-bg__i type-20"></div>
                    <div class="welcome-bg__i type-21"></div>
                </div>
                <div class="welcome-bg__col type-10">
                    <div class="welcome-bg__i type-22"></div>
                    <div class="welcome-bg__i type-23"></div>
                    <div class="welcome-bg__i type-24"></div>
                    <div class="welcome-bg__i type-25"></div>
                </div>
                <div class="welcome-bg__col type-11">
                    <div class="welcome-bg__i type-26"></div>
                    <div class="welcome-bg__i type-27"></div>
                    <div class="welcome-bg__i type-25"></div>
                </div>
            </div>
        </div>

        <div class="js-navigation">
            <div class="sm-nav__helper" data-nav-helper></div>
            <div class="sm-nav " data-nav-menu>
                <div class="s-center">
                    <div class="sm-nav__inner">
                        <a href="#content-routine" class="sm-nav__i" data-nav-link>
                            Routine automation tools
                        </a>
                        <a href="#content-empowering" class="sm-nav__i" data-nav-link>
                            Empowering your website
                        </a>
                        <a href="#content-attend" class="sm-nav__i" data-nav-link>
                            Attendee acquisition and engagement
                        </a>
                        <a href="#content-plans" class="sm-nav__i" data-nav-link>
                            Free plan includes all event management tools
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="s-center" id="content-routine">
            <div class="sm-tools">
                <h4 class="s-title">
                    Routine automation tools
                </h4>
                <div class="s-subtitle">
                    Workshop Butler provides you with all the necessary tool to automate repeatable routine tasks and concentrate on amazing content, and pleasure of teaching.
                </div>
                <div class="sm-tools__content">
                    <div class="sm-tools__item">
                        <div class="sm-tools__img type-first"></div>
                        <div class="sm-tools__title">
                            Multiple event type support
                        </div>
                        <div class="sm-tools__text">
                            Keep the various workshops under the same roof and clear interface. You can quickly filter and focus on a particular event type or look at the whole picture.
                        </div>
                    </div>
                    <div class="sm-tools__item">
                        <div class="sm-tools__img type-second"></div>
                        <div class="sm-tools__title">
                            Event promotion tools
                        </div>
                        <div class="sm-tools__text">
                            Take an advantage of a built-in event page: Generated right after you enter the event details and ready to be shared with the world. Integrate the synchronized event calendar into your website or any external platform you  
                        </div>
                    </div>
                    <div class="sm-tools__item">
                        <div class="sm-tools__img type-third"></div>
                        <div class="sm-tools__title">
                            Reminders and notifications
                        </div>
                        <div class="sm-tools__text">
                            Prepare warming welcome emails and send reminders for workshops to your attendees. Set them to be sent automatically and save your time.
                        </div>
                    </div>
                    <div class="sm-tools__item">
                        <div class="sm-tools__img type-fourth"></div>
                        <div class="sm-tools__title">
                            Feedback collection
                        </div>
                        <div class="sm-tools__text">
                            Automatic reminders for your audience, safety storage, and built-in evaluation forms are here to ease the collection of workshop assessments. All data will be available for further stats and deeper analysis.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sm-separator">
            <div class="inner"></div>
        </div>

        <div class="sm-slider" id="content-empowering">
            <div class="s-center">
                <h4 class="s-title">
                    Empowering your website
                </h4>
                <div class="s-subtitle">
                    Turn your website into a workshop management system. Increase your website traffic by providing your attendees with the details of events and registration forms. No more third-party tools or plugins.
                </div>
            </div>
            {{ partial "slider" . }}
        </div>

        <div class="sm-separator">
            <div class="inner"></div>
        </div>

        <div class="s-center" id="content-attend">
            <div class="sm-tabs js-tabs-attendee">
                <h4 class="s-title">
                    Attendee acquisition and engagement
                </h4>
                <div class="s-subtitle">
                    Treat your attendees warmer. <br>
                    Build the community and grow attendees’ retention.
                </div>
                <div class="sm-tabs__main">
                    <div class="sm-tabs__nav">
                        <a href="#tab-reg" class="sm-tabs__link state_active" data-tabs-link>
                            <div class="title">Registrations handling</div>
                            <div class="text">
                                Use a built-in registration form to collect attendee's details smoothly without any additional tools and distractions. Surely, you can connect the link to any external service you use for the registration of participants.
                            </div>
                        </a>
                        <a href="#tab-email" class="sm-tabs__link" data-tabs-link>
                            <div class="title">Personal emails and reminders</div>
                            <div class="text">
                                Everyone appreciates personal care. Prepare and send welcome emails and reminders about any event to your attendees automatically.
                            </div>
                        </a>
                        <a href="#tab-attendee" class="sm-tabs__link" data-tabs-link>
                            <div class="title">Attendees management</div>
                            <div class="text">
                                Browse attendees overview via event dashboard. Keep the details of your attendees stored safely for further analysis or newsletters.
                            </div>
                        </a>
                        <a href="#tab-comm" class="sm-tabs__link" data-tabs-link>
                            <div class="title">Community building</div>
                            <div class="text">
                                Build the long-term relationship with your audience by using our third-party integrations: Export your attendees into MailChimp list or Slack channel. Continue the conversation.
                            </div>
                        </a>
                    </div>
                    <div class="text-center">
                        <div class="sm-tabs__dots">
                            <a href="#tab-reg" class="sm-tabs__dot" data-tabs-link></a>
                            <a href="#tab-email" class="sm-tabs__dot" data-tabs-link></a>
                            <a href="#tab-attendee" class="sm-tabs__dot" data-tabs-link></a>
                            <a href="#tab-comm" class="sm-tabs__dot" data-tabs-link></a>
                        </div>
                    </div>
                    <div class="sm-tabs__r">
                        <div class="sm-tabs__content" id="tab-reg" data-tabs-content>
                            <img src="/img/main/tabs/img-tab-1.png" alt="Hosted event page on Workshop Butler" class="sm-tabs__img">
                        </div>
                        <div class="sm-tabs__content" id="tab-email" data-tabs-content>
                            <img src="/img/main/tabs/img-tab-2.png" alt="Automated Email Message" class="sm-tabs__img">
                        </div>
                        <div class="sm-tabs__content" id="tab-attendee" data-tabs-content>
                            <img src="/img/main/tabs/img-tab-3.png" alt="Screen with a list of event attendees" class="sm-tabs__img">
                        </div>
                        <div class="sm-tabs__content" id="tab-comm" data-tabs-content>
                            <img src="/img/main/tabs/img-tab-4.png" alt="MailChimp configuration screen" class="sm-tabs__img">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sm-separator">
            <div class="inner"></div>
        </div>

        <div class="s-center" id="content-plans">
            <div class="sm-plans">
                <h4 class="s-title">
                    Absolutely free plan with all workshop management tools
                </h4>
                <div class="sm-plans__content">
                    <div class="sm-plan sm-plan_type_free">
                        <div class="sm-plan__head">
                            <span class="sm-plan__price">
                                €0</span><span class="sm-plan__period">
                                / month
                            </span>
                        </div>
                        <div class="sm-plan__desc">
                            All the benefits of routine automation tools are available with our FREE plan.
                        </div>
                        <div class="sm-plan__title">
                            Free plan
                        </div>
                        <div class="sm-plan__text">
                            Enjoy all the workshop management features for absolutely free. Get started with one commercial and unlimited non-profit event per month.
                        </div>

                        <a href="/pricing" class="sm-plan__btn-white">
                            Learn more
                        </a>
                    </div>

                    <div class="sm-plan sm-plan_type_subs">
                        <div class="sm-plan__hint">
                            From
                        </div>
                        <div class="sm-plan__head">
                            <span class="sm-plan__price">
                                €39</span><span class="sm-plan__period">
                                / month
                            </span>
                        </div>
                        <div class="sm-plan__desc">
                            When growing out or ready to include your website into the workshop management eco-system, you are welcome to commercial subscriptions.
                        </div>
                        <div class="sm-plan__title">
                            Subscription model
                        </div>
                        <div class="sm-plan__text">
                            When one commercial event is not enough, subscribe to one of the commercial plans with predictable payments from €39 per month. All these options include empowering your website with the workshop management goodies.
                        </div>

                        <a href="/pricing" class="sm-plan__btn-bordered">
                            Learn more
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sm-separator">
            <div class="inner"></div>
        </div>

        <div class="s-center">
            <div class="sm-feedback">
                <div class="sm-feedback__title">
                    Listen to what clients say about the product
                </div>
                <div class="sm-feedback__list">
                    <div class="sm-feed sm-feed_type_left">
                        <div class="sm-feed__comment">
                            <div class="sm-feed__ava"></div>

                            <div class="text">
                                Workshop Butler is a fantastic workshop and events tool that we cannot live without at Happy Melly and the Management 3.0 website. I suggest that every trainer and training company gives it a try.
                            </div>
                            <div class="title">
                                Jurgen Appelo
                            </div>
                            <div class="hint">
                                CEO, HAPPY MELLY
                            </div>
                        </div>
                    </div>

                    <div class="sm-feed sm-feed_type_right">
                        <div class="sm-feed__comment">
                            <div class="sm-feed__ava"></div>

                            <div class="text">
                                I've been using Workshop Butler for a couple of years now. It has saved me a TON of time in administrative duties. All of my post-event logistical stuff happens auto-magically. If you're a trainer, I'd highly recommend this over homegrown Excel/Google drive solutions.
                            </div>
                            <div class="title">
                                Jason Little
                            </div>
                            <div class="hint">
                                Author of Lean Change Management
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sm-clients">
                <div class="sm-clients__i type-manag"></div>
                <div class="sm-clients__i type-collab"></div>
                <div class="sm-clients__i type-team"></div>
                <div class="sm-clients__i type-lean"></div>
            </div>
        </div>

        <div class="sm-separator">
            <div class="inner"></div>
        </div>

    </div>

{{end}}
