
.n-attendee {
  padding-top: 81px;
  margin-bottom: 37px;
}

.n-tabs {
  margin-top: 29px;
}

.n-tabs__nav {
  overflow: hidden;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  background-color: rgba(223, 223, 223, .5);
  margin-bottom: 41px;
}

.n-tabs__link {
  display: block;
  float: left;
  position: relative;
  width: 25%;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #27200d !important;
  text-decoration: none !important;

  &:hover,
  &.state_active {
    background-color: #ffffff;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: #e0e0e0;
  }

  &:last-child:after {
    display: none;
  }
}

.n-tabs__icon {
  position: absolute;
  left: 50%;
  top: 16px;

  &.type-1 {
    width: 47px;
    height: 39px;
    margin-left: -24px;
    background: url("/img/product/icon-tab-1.svg") no-repeat;
  }

  &.type-2 {
    top: 15px;
    width: 43px;
    height: 40px;
    margin-left: -22px;
    background: url("/img/product/icon-tab-2.svg") no-repeat;
  }

  &.type-3 {
    width: 39px;
    height: 41px;
    margin-left: -16px;
    top: 14px;
    background: url("/img/product/icon-tab-3.svg") no-repeat;
  }

  &.type-4 {
    width: 55px;
    height: 49px;
    margin-left: -27px;
    top: 12px;
    background: url("/img/product/icon-tab-4.svg") no-repeat;
  }
}

.n-tabs__content {
  .clearfix();
  display: none;

  &.state_active {
    display: block;
  }
}

.n-tabs__descr {
  overflow: hidden;

  &.type-1 {
    padding-top: 103px;
  }

  &.type-2 {
    padding-top: 103px;
  }

  .item {
    margin-bottom: 30px;
  }

  .title {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 19px;
  }

  .text {
    font-size: 16px;
    line-height: 25px;
  }

  .subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 6px;
    margin-top: 9px;
  }
}

.n-tabs__img {
  float: right;
  width: 64.51%;
  display: block;
  box-shadow: 0 0 8px rgba(0,0,0, .2);
  border-radius: 4px;
  margin-left: 5%;

  &.type-no-shadow {
    box-shadow: none;
    width: 48%;
    margin-top: -5px;
  }
}

.n-info-con {
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 0;
    overflow: hidden;
  }
}

.n-info {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.n-info__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.n-info__text {
  font-size: 16px;
  line-height: 25px;
  min-height: 177px;
  padding-bottom: 15px;
}

.n-info__img {
  max-width: 100%;
  display: block;
  height: auto;
}

@media screen and (max-width: @site-large) {
  .n-tabs__descr {
    padding-top: 0 !important;
  }

  .n-tabs__img {
    width: 50%;
    margin-left: 3%;
  }
}

@media screen and (max-width: @site-tab) {
  .n-attendee {
    padding-top: 36px;
    margin-bottom: 30px;
  }

  .n-tabs {
    margin-top: 28px;
  }

  .n-tabs__nav {
    display: none;
  }

  .n-tabs__content {
    display: block !important;
    margin-bottom: 40px;
  }

  .n-tabs__img {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto !important;
    margin-left: 0;
    margin-bottom: 21px;
    margin-top: 0 !important;
  }

  .n-tabs__descr {
    .title {
      margin-bottom: 5px;
    }

    .item {
      margin-bottom: 9px;
    }
  }

  .n-info-con {
    text-align: left;

    &:after {
      display: none;
    }
  }

  .n-info {
    display: block;
    margin-bottom: 40px;
    width: auto !important;
  }

  .n-info__text {
    min-height: 0;
    margin-bottom: 10px;
  }
}

