
.n-benefit {
  padding-top: 84px;
  padding-bottom: 73px;
  background-color: #eeeeee;
  font-size: 0;
}

.n-benefit__i {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 32%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%;
  padding-top: 56px;
  margin-bottom: 13px;

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  .title {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .text {
    font-size: 16px;
    line-height: 25px;
  }
}

.n-benefit__i-icon {
  position: absolute;
  left: 0;
  top: 0;

  &.type-1 {
    width: 60px;
    height: 40px;
    background: url("/img/product/icon-benefit-1.svg") no-repeat;
  }

  &.type-2 {
    top: 1px;
    width: 43px;
    height: 40px;
    background: url("/img/product/icon-benefit-2.svg") no-repeat;
  }

  &.type-3 {
    top: 2px;
    width: 40px;
    height: 38px;
    background: url("/img/product/icon-benefit-3.svg") no-repeat;
  }

  &.type-4 {
    top: 1px;
    width: 58px;
    height: 41px;
    background: url("/img/product/icon-benefit-4.svg") no-repeat;
  }

  &.type-5 {
    width: 41px;
    height: 42px;
    background: url("/img/product/icon-benefit-5.svg") no-repeat;
  }
}

@media screen and (max-width: @site-middle) {
  .n-benefit__i {
    margin-bottom: 40px;
    width: 48% !important;
    margin-right: 4% !important;

    &:nth-child(2n + 2) {
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: @site-tab) {
  .n-benefit {
    padding-top: 40px;
    margin-bottom: 18px;

    .n-benefit__i {
      display: block;
      width: 100% !important;
      margin-right: 0 !important;
      margin-bottom: 40px;
    }
  }
}