
.n-routine {
  padding-top: 81px;
  margin-bottom: 81px;
}

.n-routine__content {
  margin-top: 69px;
  .clearfix();
}

.n-routine__img {
  float: left;
  width: 64.5%;
  display: block;
  height: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  border-radius: 4px;
}

.n-routine__descr {
  overflow: hidden;
  padding-top: 63px;
  padding-left: 4.8%;
}

.n-routine__i {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .text {
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: @site-large) {
  .n-routine__img {
    width: 50%;
  }

  .n-routine__descr {
    padding-top: 0;
  }
}

@media screen and (max-width: @site-tab) {
  .n-routine {
    padding-top: 30px;
    margin-bottom: 39px;
  }

  .n-routine__content {
    margin-top: 20px;
  }

  .n-routine__img {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
  }

  .n-routine__descr {
    padding-top: 20px;
    padding-left: 0;
  }

  .n-routine__i {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

}