


// video
.n-video {
  position: relative;
  padding-top: 225px;
  padding-bottom: 203px;
  text-align: center;
  background: url("/img/product/img-bg.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

.m-video__inner {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
}

.n-video__btn {
  .btn-base;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff !important;
  text-align: center;
  padding: 18px 10px 23px;
  min-width: 220px;
  border-radius: 4px;
  background-color: #F6416C;
  box-shadow: 0 0 12px rgba(0,0,0, .35);
  text-transform: none;
  -webkit-font-smoothing: antialiased;

  &:hover {
    background-color: #ed3f64;
  }
}

.n-video_state_show {
  min-height: 250px;

  .m-video__inner {
    display: block;
  }

  .n-video__btn {
    display: none;
  }
}

@media screen and (max-width: @site-large) {
  .n-video {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media screen and (max-width: @site-tab) {
  .n-video {
    padding-top: 63px;
    padding-bottom: 62px;
  }
}