

@font-face {
  font-family: "vag";
  src: url("../../fonts/ufonts-com-vag-rounded-lt-black.eot");
  src: url("../../fonts/ufonts-com-vag-rounded-lt-black.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/ufonts-com-vag-rounded-lt-black.woff") format("woff"),
    url("../../fonts/ufonts-com-vag-rounded-lt-black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Conv_GoodDog';
  src: url('../../fonts/GoodDog.eot');
  src: local('☺'), url('../../fonts/GoodDog.woff') format('woff'), url('../../fonts/GoodDog.ttf') format('truetype'), url('../../fonts/GoodDog.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Days';
  src: url('../../fonts/Days.eot');
  src: local('☺'), url('../../fonts/Days.woff') format('woff'), url('../../fonts/Days.ttf') format('truetype'), url('../../fonts/Days.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
