//display generics
.inline_block {
  display: inline-block !important;
}

.hidden,
.hidden.clearfix {
  display: none;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}
.text-muted {
  color: @grey;
}
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  display: block;
  zoom: 1;

  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.no-select {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

.no-wrap {
  white-space: nowrap;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600 !important;
}

.ovh {
  overflow: hidden !important;
}

.ova {
  overflow: auto !important;
}

.p-abs {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.p-rel {
  position: relative !important;
}

.t-ellps {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.text-hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: @break_middle) {
  .hide-for-middle {
    display: none;
  }
}

.btn {
  display: inline-block;
  padding: 4px 18px 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.9;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  border: 1px solid transparent;
  text-decoration: none !important;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.btn-base {
  display: inline-block;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none !important;
  text-align: center;
  .transition(all .15s ease);
  box-shadow: none;

  &:focus {
    outline: none;
  }
}

.btn-blue {
  .btn-base;
  font-weight: bold;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  color: #ffffff !important;
  background: @blue;
  border-radius: 4px;
  text-align: center;

  &:hover {
    background: @dark-blue;
  }

  &:active {
    background: @dark-blue;
  }
}

.btn-blue-cancel {
  .btn-base;
  text-transform: none;
  font-weight: bold;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  color: @blue;

  &:hover, &:active {
    color: @dark-blue;
  }
}

.short {
  width: 10em;
}

.wrap {
  margin: 0 auto;
}

// Common container
.b-wrap {
  width: 1100px;
  margin: 0 auto;
}

.link-simple {
  text-decoration: none !important;
  color: @pink !important;
  .transition(all .15s ease);
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-color: @pink;
  }
}

.link-blue {
  text-decoration: none;
  color: @blue;
  .transition(all .15s ease);
  border-bottom: 1px solid transparent;

  &:hover {
    color: @dark-blue;
    border-bottom-color: @dark-blue;
  }
}

.link-white {
  text-decoration: none !important;
  color: #fff !important;
  .transition(all .15s ease);
  border-bottom: 1px solid #fff;

  &:hover {
    color: #fff !important;
    border-bottom-color: #fff;
  }
}

.link-black {
  display: inline-block;
  line-height: 1;
  text-decoration: none !important;
  .transition(all .15s ease);
  border-bottom: 1px solid transparent;
  color: #333 !important;

  &:hover {
    border-bottom-color: #333;
  }
}

.box-shadow {
  -webkit-box-shadow: 0 0 12px 0 rgba(119,119,119,0.71);
  -moz-box-shadow: 0 0 12px 0 rgba(119,119,119,0.71);
  box-shadow: 0 0 12px 0 rgba(119,119,119,0.71);
}

@media screen and (max-width: @break_big) {
  .b-wrap {
    width: 904px;
  }
}

@media screen and (max-width: @break_middle) {
  .b-wrap {
    width: 600px;
  }
}

@media screen and (max-width: @break_small) {
  .b-wrap {
    width: 500px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 540px) {
  .b-wrap {
    width: auto;
  }
}
