.tablepress {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1em;
  border: none;
  font-size: 14px;
}

.tablepress td,
.tablepress th {
  padding: 8px;
  border: none;
  background: 0 0;
  text-align: left;
  float: none !important;
}

.tablepress tfoot th,
.tablepress thead th {
  background-color: #d9edf7;
  font-weight: 700;
  vertical-align: middle;
}

.tablepress thead th {
  border-bottom: 1px solid #ddd;
}

.tablepress tbody td,
.tablepress tfoot th {
  border-top: 1px solid #ddd;
}

.tablepress tbody td {
  vertical-align: top;
}

.tablepress tbody tr:first-child td {
  border-top: 0;
}

.tablepress .column-1 {
  width: 200px;
}
