
@vag: 'vag', Arial, sans-serif;

@black: #222;
@gray-light: #f6f6f6;
@grey: #777;
@border-grey: #c0c0c0;
@background: #eeeeee;
@red: #E73B2B;
@green: #349c4a;
@blue: #6dc6dd;
@light-blue: #e9f7fa;
@light-blue-2: #8ab1c4;
@dark-blue: #64AEC1;
@yellow: #FFDD8A;
@pink: #fa5c7f;
@pink-red: #f6416c;
@warm-grey: #777777;
@light-grey: #fafafa;
@dark: #27200e;
@white: #fff;
@orange: #ffe295;
@dark-orange: #e9d9ad;

@space: 1.5em;
@font-size: 16px;
@small-font-size: 14px;

// breakpoint
@break_larger: 1550px;   // big size
@break_large: 1440px;    // 1280px
@break_big: 1200px;      // 1024px
@break_middle: 1000px;   // 768px
@break_small: 767px;     // 400px
@break_phone: 399px;
